[2021-02-28 06:27] mty22 opened #1 "Japanese: - Player killstreak grammar issue"
Reported by: NamekujiLSDs#7777

![image](https://user-images.githubusercontent.com/2951231/109409857-37c68f80-79ea-11eb-8fb1-b27919b2cbca.png)
![image](https://user-images.githubusercontent.com/2951231/109409859-3bf2ad00-79ea-11eb-9b15-3bf39180002f.png)

[2021-03-18 08:51] #1 closed, assigned to mty22

[2021-03-18 11:27] mty22 opened #2 "Arabic language support"
Arabic is written and read from right to left

Sample translation of the following menu:

![image](https://user-images.githubusercontent.com/2951231/111618804-ea934c00-8838-11eb-9200-712d5ea23fb7.png)

[code]

Need to confirm if this is supported or not in game, or if it will just be grammatically incorrect after rendering.

Submitted on behalf of: https://www.twitch.tv/clownflsh

[2021-03-18 15:36] fich-c commented on #2
<html dir="rtl" lang="ar">
<head>
<meta charset="utf-8">

[2021-03-24 06:03] mty22 commented on #2
@fich-c sorry, you need to explain what you are trying to point out.

[2021-03-26 11:08] mty22 opened #7 "Japanese translation fixes / new items to translate"
From:  https://krunker.io/social.html?p=profile&q=Saladacchi

[code]

[2021-03-29 07:04] mty22 commented on #7
https://github.com/mty22/krunker.io-translations/commit/fb0be0af631306a2eaf15e3a9271fa5c32460657
https://github.com/mty22/krunker.io-translations/commit/4979f3b0624428a63d089433cd4f12be4d81f4a2

[2021-03-29 07:26] mty22 opened #8 "New change to Spanish language file"
https://github.com/mty22/krunker.io-translations/blob/main/es.js has been rebuilt, containing new items to translate.

[2021-03-29 07:26] mty22 commented on #8
@xlNightmare if time permits, can you please review? :)

[2021-03-29 07:28] mty22 opened #9 "New change to Korean language file"
https://github.com/mty22/krunker.io-translations/blob/main/kr.js has been rebuilt, so new translations are needed!

[2021-03-29 07:29] mty22 commented on #9
@dojinshi @YuniQ152 @apinklover are you guys able to have a look, providing time permits?

Thank you!

[2021-03-29 07:32] mty22 opened #10 "New changes to de.js (German)"
I've rebuilt de.js (https://github.com/mty22/krunker.io-translations/commit/16e566944f97f7b2fbb75a5190f0a9030dd3ba74), so we need to translate the new items.

https://github.com/mty22/krunker.io-translations/blob/main/de.js

[2021-03-29 07:33] mty22 commented on #2
Can't do this one. =(

[2021-03-29 15:45] YuniQ152 commented on #9
I created pull request! Check please.

[2021-03-29 22:31] xlNightmare commented on #8
Review done and all items have been translated. :)

[2021-03-30 08:23] mty22 commented on #10
bodeneinheit + fuderal translated this, just waiting on a PR.

[2021-03-30 08:31] #9 closed

[2021-03-30 09:11] mty22 commented on #10
resolved by @bodeneinheit

[2021-03-30 09:12] #10 closed

[2021-03-30 09:16] mty22 commented on #7
Haven't had time to do this yet. Anyone can pick it up.

[2021-03-30 09:25] #8 closed

[2021-03-31 12:17] mty22 opened #15 "Add Finnish language"
Jypa translated this (thank you), need someone to assist with review!

[2021-03-31 12:19] mty22 commented on #15
@DefinitelyJypa

[2021-03-31 12:21] #15 closed

[2021-04-04 22:17] Hiro527 commented on #7
I will translate :)

[2021-04-05 04:53] mty22 commented on #7
![image](https://user-images.githubusercontent.com/2951231/113538259-20e50f80-961e-11eb-85b1-83455d2d5114.png)

https://github.com/mty22/krunker.io-translations/blob/main/jp.js#L67

「次のラウンドまであと○○秒」の方がいい？

[2021-04-05 04:56] Hiro527 commented on #7
It's correct in Japanese but I think 「次のラウンドまであと〇〇秒」is better than 「次ラウンドまであと〇〇秒」.

[2021-04-05 04:58] Hiro527 commented on #7
Should I remain this in english?
![image](https://user-images.githubusercontent.com/40311688/113538744-fd6a9680-9616-11eb-8456-8575b03c44cb.png)
https://github.com/mty22/krunker.io-translations/blob/main/jp.js#L63

[2021-04-05 06:58] mty22 opened #20 "Japanese: kill streak - code comment issue"
![image](https://user-images.githubusercontent.com/2951231/113546842-24819200-9630-11eb-89e8-68baf7c5e014.png)

[2021-04-05 07:01] #20 closed

[2021-04-05 07:01] mty22 commented on #20
Fixed in next update.

[2021-04-05 09:23] mty22 opened #21 "Russian language support (v3.8.1)"
Need to add Russian language support!

[2021-04-05 09:28] mty22 commented on #7
Yes, we'll keep that one in English.

[2021-04-05 09:34] mty22 opened #22 "Portuguese language updates (v3.8.1)"
Portuguese language is behind and in need of updates:

https://github.com/mty22/krunker.io-translations/blob/main/pr.js

[2021-04-05 13:40] #7 closed

[2021-04-07 12:55] chonker1337 opened #23 "Polish langauge support"
I'm working on a polish translation right now

[2021-04-07 15:12] chonker1337 commented on #23
Created pull request.

[2021-04-07 15:12] #23 closed

[2021-04-09 12:11] MrGira opened #25 "Italian Translation Request"
Hi, we are opening this issue to ask if it is possible to translate krunker into Italian.  My colleague Hiroo and I would be interested in the project.

Discord: MrGira# 0999

[2021-04-11 08:29] mty22 commented on #2
If any native Arabic speaker could reach out to me on Discord (frzn#1030) to discuss, that'd be appreciated!

[2021-04-11 08:31] mty22 commented on #25
Hey! Thanks for the interest, will get back to you on this.

[2021-04-12 04:23] mty22 opened #26 "Rebuild language files based on latest en.js (v3.8.1)"
Rebuild all lang files and fix basic changes.

This is also including content for the next update beyond v3.8.1

[2021-04-12 04:24] mty22 commented on #26
Japanese done: https://github.com/mty22/krunker.io-translations/commit/26775692c06d17aaf1a72ae689843fc7da6fb991

Note to fix across all lang files: https://github.com/mty22/krunker.io-translations/commit/26775692c06d17aaf1a72ae689843fc7da6fb991#diff-6a488155cc40dbc901d516a381c5adb34c75bd7fa61b093803ecef6d77407f6fL395-R402

[2021-04-12 04:30] mty22 commented on #26
Will rebuild the rest later on and fix `windows.loadout.body` <--> `windows.loadout.back`

[2021-04-12 04:41] mty22 commented on #26
`windows.store.wheels` key is duplicated in `en.js`, L514 and L733 - pinged devs on it.

reverted commits on `jp.js` for now until I receive further info.

[2021-04-12 06:08] mty22 commented on #26
`windows.store.wheels` dupe issue fixed in commit: https://github.com/mty22/krunker.io-translations/commit/bf97799eab006de1d8099a3dc666cd838f05e211

Will rebuild all lang files shortly, renaming the two variable changes first:

eg: `sed -i 's/windows.loadout.body/windows.loadout.back/g' jp.js` -> `./rebuild_lang_file.sh jp.js`

[2021-04-12 06:50] mty22 commented on #26
All done:

Japanese: https://github.com/mty22/krunker.io-translations/commit/2f393b9bb9e4dee52874940090b90b023447c9e5
German: https://github.com/mty22/krunker.io-translations/commit/4c5b15bf9895732bdcabec27e643c8971ca18a5c
Spanish: https://github.com/mty22/krunker.io-translations/commit/99e6ba0c9f05af3a4d76f22ebc794528a7faafd3
Finnish: https://github.com/mty22/krunker.io-translations/commit/25992f

[2021-04-12 06:56] mty22 commented on #26
Added project: https://github.com/mty22/krunker.io-translations/projects/1

[2021-04-12 07:16] mty22 opened #27 "Japanese language updates (v3.8.1)"
Japanese: https://github.com/mty22/krunker.io-translations/commit/2f393b9bb9e4dee52874940090b90b023447c9e5

[2021-04-12 07:16] mty22 opened #28 "German language updates (v3.8.1)"
German: https://github.com/mty22/krunker.io-translations/commit/4c5b15bf9895732bdcabec27e643c8971ca18a5c

[2021-04-12 07:17] mty22 opened #29 "Spanish language updates (v3.8.1)"
Spanish: https://github.com/mty22/krunker.io-translations/commit/99e6ba0c9f05af3a4d76f22ebc794528a7faafd3

[2021-04-12 07:17] mty22 opened #30 "Finnish language updates (v3.8.1)"
Finnish: https://github.com/mty22/krunker.io-translations/commit/25992fdd7fc11edd215acf19325d689d92ce673e

[2021-04-12 07:17] mty22 opened #31 "French language updates (v3.8.1)"
French: https://github.com/mty22/krunker.io-translations/commit/82edf20a2b258c21eec1ff06d609b6953bbb63a6

[2021-04-12 07:18] mty22 opened #32 "Korean language updates (v3.8.1)"
Korean: https://github.com/mty22/krunker.io-translations/commit/146a65ed61b35f93e40a42050c17ccd5ee32cf7d

[2021-04-12 07:18] mty22 opened #33 "Simplified Chinese language updates (v3.8.1)"
Simplified Chinese: https://github.com/mty22/krunker.io-translations/commit/e89b8249bf15c6038cc46c506223d0791672aae1

[2021-04-12 07:36] mty22 commented on #27
@Hiro527 is happy to do this~

[2021-04-12 07:36] Hiro527 commented on #27
I'll do this task:)

[2021-04-12 13:39] mty22 opened #35 "Dutch language support (v3.8.1)"
Discord user `Semliot#0070` reached out to me asking about Dutch translations.

Need to check feasibility on this before going ahead.

[2021-04-13 14:39] mty22 commented on #2
[code]

[2021-04-15 03:37] #27 closed

[2021-04-15 16:40] keshav073 opened #36 "Queries regarding Krunker translation Program (Hindi translation)"
Hello,
I read the info about the krunker translation program and had some queries regarding it. I was wondering if there was a need of translation to Hindi as I couldn't find any mention of the language anywhere. If yes, I would be keen to help in the translation.

[2021-04-15 16:42] Rishabh4Jakhar opened #37 "Hindi Translation of Krunker (v3.8.1)"
I am Indian and I feel I can help in translating krunker into hindi (main language of India)

[2021-04-15 16:46] ImMarvel opened #38 "Bengali Translation of Krunker"

[2021-04-15 16:49] Wefflay opened #39 "Italian Language translation help"
Hi!I would like to help translating the game,to italian.
Since its my main language and I studied it a lot,i could help a lot,also for the grammar,that i see tons of people misspell/do wrong.
I have a lot of translation experiences and I know english language a lot!
I would love to help translating!
discord user just in case: Waffley#7335

[2021-04-15 16:53] NotKatsuro opened #40 "Polish translation help"
Hello! I am a native polish speaker and would be interested in helping with translating the game. If there's any way I could help please respond!

[2021-04-15 16:54] 010Filip010 opened #41 "Polish translation"
Hello,
I'd like to help out with translating krunker into polsih.It's my main language and I have a lot of expierience with it. I lived abroad for 12 years in an english speaking country so i am expierienced with it too. My discord is filip010#3537

[2021-04-15 16:54] Preemey opened #42 "Hebrew Translation"
Hey! Hebrew is my Native language and I would like to help translate the game! Discord: Mareeo#8227

[2021-04-15 16:56] Aeroblade727 opened #43 "Greek translating in krunker"
Hello! I am a native greek speaker and am fluent in english and have had experience in translating previously. If anyone is interested message at my discord Aeroblade#9241

[2021-04-15 16:56] Dedazen opened #44 "Polish Translation Request"
Hi, I am opening this issue because I am interested in creating a Polish translation for the game.  Please feel free to contact me.

[2021-04-15 16:57] cheesecake489 opened #45 "Romanian translation for Krunker.io"
Hello,I can help with the translation process.I am from Romania.My discord is:Cheesecake#6728. Quick edit:My friend TrainerGabe#9381 and I decided that we should do it together,he posted hes issue above.

[2021-04-15 17:00] Kmiki07 opened #46 "Translating into Hungarian (v3.8.1)"
I am able to translate the full game / website to Hungarian.
My IGN: Kmiki007
My discord: Kmiki007#5307

[2021-04-15 17:02] cheesecake489 commented on #45
For some reason GitHub doesnt allow me to put a normal zero after the hashtag so i just wrote them like that :|

[2021-04-15 17:04] MilanSCR opened #47 "Serbian/Croatian/Bosnian Translation for block game."
Almost the whole of Balkans speak the same language and I think Croatian/Bosnian would work the best here since it's not Cyrillic and more people can read it, rather than going with Serbian which is written like rUsSiaN letters.

![image](https://user-images.githubusercontent.com/82604982/114909196-2c55e900-9e1d-11eb-8e9f-ed28ad5e61f6.png)
Most of these countries can understand/speak the same lang

[2021-04-15 17:10] MilanSCR commented on #47
closed by accident were good boys

[2021-04-15 17:11] Flair74 opened #48 "Translating to Vietnamese"
i'm gonna translate the krunker blocc game with guns to Vietnamese, discord Flair#7505

[2021-04-15 17:18] realTiXoNyA commented on #21
Hello, I would like to try to do this task)

[2021-04-15 17:20] inv10498 opened #49 "Translating into Traditional Chinese (v3.8.1)"
Going to take a shot at translating Krunker into Traditional Chinese, might be helpful for players from Hong Kong, Taiwan, etc. I will be working with searinsin#7965, my discord tag is inv#6091. Feel free to reach out if you want to work us, the more the merrier.

[2021-04-15 17:27] hellcatsrt commented on #21
I would also love to help with this task!

[2021-04-15 17:28] AdoreMe-GitHub commented on #35
I would like to translate to Dutch aswell since i'm a native speaker.
Discord user: `AdoreMe#0082`

[2021-04-15 17:38] TrainerGabeKR opened #50 "Romanian translation (v3.8.1)"
Hi, me and Cheesecake would like to begin working on Romanian. Im a native Romanian speaker and writer, and can definitely work on the project. Cheesecake is also Romanian and wishes to work on the project. Could a file be opened up for Romanian so we may work on the project?

My Discord: TrainerGabe#9381
Cheesecake's: Cheesecake#6728

[2021-04-15 17:39] hon0urdy opened #51 "Translating into Turkish (v3.8.1)"
Im going to try translating it in Turkish.Im going to work with W_O#1903 and my discord tag is hon0urdy#5024.

[2021-04-15 17:42] cheesecake489 commented on #50
Yes please 😛

[2021-04-15 17:49] ShishKebob6570 opened #52 "Krunker translation into Swedish (v3.8.1)"

[2021-04-15 17:55] smokjab commented on #44
I am willing to help. my discord is smokjab#1200

[2021-04-15 18:01] Heleluja commented on #28
Hey, id like to help, how can i contact you?

[2021-04-15 18:14] NonoLePoulet opened #53 "Finishing french"
Finishing the translation + correcting some things.
My discord is NonoLePoulet#3489

[2021-04-15 18:46] Sleepyngl opened #54 "Translation to Estonian"
Hello!

I could translate it to estonian if needed!
I'm going to translate alone / with some peoples help if needed.
Discord: Sleepy#9777

[2021-04-15 19:00] NotKatsuro commented on #44
Same here, my discord is NotKatsuro | Don't#0001

[2021-04-15 19:05] Semliot commented on #35
I've talked to AdoreMe and we are going to translate it together.

[2021-04-15 19:29] xhg4 commented on #44
I'd be willing to help although it seems like somebody has already done a Polish translation and it's in the "pull requests" tab and it's waiting for approval. Also, it seems like it hasn't been yet reviewed by a native

Either way, my discord is xhg4#5231 and I'm a native Polish speaker

[2021-04-15 19:29] gluzly commented on #35
I would love to help translate to Dutch aswell. I'm from the Netherlands myself and fluent in Dutch, and I'm almost fluent in English, so this could help me with that :)

[2021-04-15 19:41] Knuspie commented on #28
Hello, I would like to help too
Discord: Knuspie#0058

[2021-04-15 20:24] imVCz commented on #29
Hey there,

I can start working on Spanish translation if needed!
I'm a native Spanish speaker.

[2021-04-15 20:52] supergamer45 opened #55 "I can Help for French translations"
i can help out for french translations
discord : Supergamer45#8416

[2021-04-15 21:08] ImMarvel commented on #38
module.exports = `
menu.btn.ranked র‌্যাঙ্কড
menu.btn.shop দোকান
menu.btn.social হাব
menu.btn.maps গেমস
menu.btn.mods মোডস
menu.btn.settings সেটিংস
menu.btn.customize কাস্টমাইজ করুন
menu.btn.invite আমন্ত্রণ জানান
menu.btn.invite.clicked অনুলিপি করা
menu.btn.join যোগ দিন
menu.btn.host হোস্ট খেলা
menu.btn.browser সার্ভারস
generic.wait অনুগ্রহপূর্বক অপেক্ষা করুন...
generic.loading লোড হচ্ছে...
generi

[2021-04-15 21:08] M4vm opened #56 "I can translate Krunker to Serbian"
Hello,

Ive been learning English for over 10 years now and I would like to help the community by translating the game to Serbian , because a lot of people in Serbia dont know English very well.

My Discord username is: M4vm#4787

[2021-04-15 21:54] Basketboss23 opened #57 "Slovenian Translation of Krunker"
Greetings!
I, IG5K, and Kekec would like to begin working on the Slovenian translation. We are all born in Slovenia and all of us are in Highschool. IG5K has a diploma in Slovene and can definitely work on the project. We have all been playing this game for more than a year and a half and 2 of us have a level +110 account. I own a YouTube Channel with +360 subscribers. So we are really serious abo

[2021-04-15 22:31] Millionword commented on #37
i can review as well

[2021-04-15 22:34] NonoLePoulet commented on #53
i've finished my changes
how do i know if i have approval ?

[2021-04-15 22:39] Millionword opened #58 "Krunker translation Nepali"
I would like to translate drunker into Nepali. I was originally born in Nepal and i can translate it into Nepali. Nepali is similar to Hindi but it has enough differences that if you were to say something in Hindi, it would not make a lot of sense to people who speak or read Nepali. It's sort of like french and English. They both have similar words, but both have differently structured sentences,

[2021-04-15 22:52] mty22 commented on #37
Hi @Rishabh4Jakhar and @Millionword - There's an active pull request currently in a review state pending to be merged:

https://github.com/mty22/krunker.io-translations/pull/17

[2021-04-15 22:54] #37 closed

[2021-04-15 22:55] mty22 commented on #36
hi @keshav073 - there's an active pull request for Hindi translation already. See linked pull request!

[2021-04-15 22:55] #36 closed

[2021-04-15 22:56] mty22 commented on #52
Hi @ShishKebob6570 - please wait for approval before commencing.

[2021-04-15 22:57] mty22 commented on #52
``` IGN: Bokmalen, skit_gubben, ErikKR || My Disc: NiroKR#1942```
^ just capturing this.

[2021-04-15 22:59] mty22 commented on #38
HI @ImMarvel - In the short term, we'll focus on translating Krunker into Hindi:

https://github.com/mty22/krunker.io-translations/pull/17

I'll reach out to you in future when we are ready to translate Krunker into Bengali. :)

[2021-04-15 23:01] mty22 commented on #39
Hi @Wefflay -- This is a duplicate issue of https://github.com/mty22/krunker.io-translations/issues/25

Check it out please~

[2021-04-15 23:01] #39 closed

[2021-04-15 23:06] mty22 commented on #40
Hi @NotKatsuro

we have an active pull request for Polish already - feel free to have a look and review! https://github.com/mty22/krunker.io-translations/pull/24/

[2021-04-15 23:06] #40 closed

[2021-04-15 23:06] mty22 commented on #41
Hi @010Filip010

we have an active pull request for Polish already - feel free to have a look and review! https://github.com/mty22/krunker.io-translations/pull/24/

[2021-04-15 23:06] #41 closed

[2021-04-15 23:07] mty22 commented on #44
Hi everyone,

We have an active pull request for Polish already - feel free to have a look and review! https://github.com/mty22/krunker.io-translations/pull/24/

[2021-04-15 23:07] #44 closed

[2021-04-15 23:09] mty22 commented on #49
Discord user `vl#5058` also sent me a message a few days ago asking about this.

Will review.

[2021-04-15 23:13] mty22 commented on #53
@NonoLePoulet thanks - can you comment on https://github.com/mty22/krunker.io-translations/issues/31 and then assign it to yourself? :)

[2021-04-15 23:13] #53 closed

[2021-04-15 23:14] mty22 commented on #31
This is being worked on by @NonoLePoulet in PR: https://github.com/mty22/krunker.io-translations/pull/59

[2021-04-15 23:18] NonoLePoulet commented on #31
Yes

[2021-04-15 23:19] NonoLePoulet commented on #31
I've made a push request

[2021-04-15 23:58] Awesome-Boy-001 opened #60 "Japanese language updates (v3.8.1)"
My 3rd main language is Japanese, and I can help with updating the (Ex. Incompletion and add new) translation for Krunker.io, such as settings page, server browser page, host game page, etc.

Discord ID: Awesome_Boy#7555
Krunker IGN: Awesome_Boy

[2021-04-16 00:00] Hiro527 commented on #60
More updates for v3.8.1?

[2021-04-16 00:10] #60 closed

[2021-04-16 00:17] mty22 commented on #45
dupe https://github.com/mty22/krunker.io-translations/issues/50

[2021-04-16 00:17] #45 closed

[2021-04-16 00:19] mty22 commented on #50
Hi,

Will get back to you on this one. Need to check feasibility on this.

[2021-04-16 00:21] mty22 commented on #55
duplicate of https://github.com/mty22/krunker.io-translations/issues/31

@supergamer45 please check the link above out.

[2021-04-16 00:21] #55 closed

[2021-04-16 00:32] Awesome-Boy-001 commented on #33
Hello; I can help with the Simplified Chinese language update.

[2021-04-16 00:48] mty22 commented on #35
Dutch is approved. @Semliot

[2021-04-16 01:15] Sandveech opened #61 "Krunker translation Khmer"
I'd would like to translate krunker into Khmer. My original birth place is Cambodia and I can translate English into Khmer. Khmer has borrowed words from other South East Asian like Thai or Lao, there will be different words if put in a translator but it'll make sense to the people who speak Khmer.
discord:
![image_2021-04-16_115551](https://user-images.githubusercontent.com/82623509/114973443-b13

[2021-04-16 01:26] Awesome-Boy-001 commented on #33
I'm currently working on Chinese, Simplified version of translation.

Discord ID: Awesome_Boy#7555
IGN: Awesome_Boy

[2021-04-16 03:23] mty22 commented on #22
Discord user `Daniels0n#1375` has taken on this request.

[2021-04-16 03:34] KenTechYT opened #62 "Krunker translation Turkish"
I speak fluent Turkish and would love to help out translating. Discord: KenTech#6969

[2021-04-16 03:34] KenTechYT commented on #51
I'd love to help, I speak fluent Turkish. Discord: KenTech#6969

[2021-04-16 03:43] mty22 commented on #62
duplicate https://github.com/mty22/krunker.io-translations/issues/51

[2021-04-16 03:43] #62 closed

[2021-04-16 03:44] mty22 commented on #51
ty, I will look into it~

[2021-04-16 04:22] ChanwishLi opened #65 "Krunker Translation to Thai"
Hi
I would like to translate krunker to Thai. I have a group of friends who like to play krunker, we can all speak English and we are all Thai. I got intrested in this project because Krunker is kinda popular in Thailand, so I want to translate some stuff. I am confident I can do it because I've taken the Tofel test 2 times and the results were great, so I think I could do some translation.

My Di

[2021-04-16 04:53] BOTMAN07 opened #66 "Krunker translation to Hindi"
Hi, I am living in India since birth and know Hindi quite fluently. I can easily translate English world to hindi without any errors or flaws. I want to contribute to krunker being translated to Hindi
discord tag:  BOTTOM#1011

[2021-04-16 05:11] Semliot commented on #35
Alright we will start working on this as soon as possible.

[2021-04-16 06:24] KenTechYT commented on #51
Alright, thanks!

On Fri, Apr 16, 2021 at 1:44 PM Matt Taylor ***@***.***>
wrote:

[2021-04-16 07:38] VercroXft opened #67 "Krunker translation English to french"
Hi i would like to translate english into french cuze i'm very good in english like B1 level and my dad speak english and i want to help people who comes into krunker for the first time to understand and playing in a good mood

Discord : #8013 Devil_Mc

[2021-04-16 07:43] coeg701 commented on #21
Hello, I would like to help with the translation as well!

[2021-04-16 07:47] smolbruhther opened #68 "Krunker Translation to Malayalam"
Hello,
I am an Indian who was born and brought up speaking Malayalam for the majority of my life. Being a native of my state, I know a lot of people who have trouble reading English. A translation to Malayalam would greatly help the Malayalam speaking player base in Krunker.
I have been learning English for more than **15 years** and use it professionally every day.
I have also been playing Krunke

[2021-04-16 07:50] VercroXft commented on #67
Hi i would like to translate english into french cuze i'm very good in english like B1 level and my dad speak english and i want to help people who comes into krunker for the first time to understand and playing in a good mood

[2021-04-16 07:51] Yurikan4ik commented on #21
Hello! I would like to help with translation too

[2021-04-16 08:01] #67 closed

[2021-04-16 08:20] VercroXft commented on #31
I've made a pull request with more than 700 modif

[2021-04-16 08:42] EpicnessCrossed opened #70 "Krunker translation to Hindi"
Hi, I am living in India since birth and know Hindi quite fluently. I can easily translate English world to hindi without any errors or flaws. I want to contribute to krunker being translated to Hindi
discord tag: EpicnessCrossed#6969

[2021-04-16 09:03] ran-dom9 opened #71 "Krunker translation to Tagalog (v3.8.1)"
I have a decent amount of experience with Tagalog and I've got a friend whos a native Filipino speaker to help me with this project. Discord tag: ｒａｎｄｏｍ#0416, daje1097#1298 and astagoth#4777

Edit: another mate of mine has reached back to me saying he's up for it so I added him in here as well

[2021-04-16 09:10] crumb8040 commented on #35
Can I contribute? I'm a native Dutch speaker

[2021-04-16 09:52] cheesecake489 commented on #50
Alright

[2021-04-16 10:00] mty22 commented on #66
Hi, there's currently an active pull request for Hindi. Can you please reach out to the current contributors and ask if they need assistance?

Thanks!

[2021-04-16 10:00] #66 closed

[2021-04-16 10:01] mty22 commented on #70
Hi, there's currently an active pull request for Hindi. Can you please reach out to the current contributors and ask if they need assistance?

See linked Pull Request.

Thanks!

[2021-04-16 10:01] #70 closed

[2021-04-16 10:52] realTiXoNyA opened #72 "Ukrainian language! (v3.8.1)"

[2021-04-16 11:32] Millionword commented on #58
Yup

[2021-04-16 12:48] PhaseKR opened #74 "Italian Translation"
Hi, we are opening this issue to ask to translate krunker into Italian. I will do this job with Venezo#4399 and tell us is there is something we can do.

Discord: Phase#1719

[2021-04-16 13:06] MilanSCR commented on #47
So far I've translated about 350 lines to Croatian we're boolin' on Mars boys.

[2021-04-16 13:16] mty22 commented on #74
duplicate https://github.com/mty22/krunker.io-translations/issues/25

[2021-04-16 13:16] #74 closed

[2021-04-16 13:17] Kmiki07 commented on #46
Translation done, pending review

[2021-04-16 13:24] mty22 commented on #72
Hi, I'll get back to you on that one.

[2021-04-16 13:26] mty22 commented on #68
Hello! Thank you for the request.

For now, we will wait for Hindi translation to be merged in and gauge community feedback.

Please check out this pull request: https://github.com/mty22/krunker.io-translations/pull/17

[2021-04-16 13:26] #68 closed

[2021-04-16 13:27] mty22 commented on #54
Hello! Thanks for the interest.

Unfortunately we cannot accept Estonian at this point in time.

If we do, I'll reach out to you directly.

Cheers.

[2021-04-16 13:27] #54 closed

[2021-04-16 13:27] mty22 commented on #56
Nice, please let me review this and get back to you.

[2021-04-16 13:28] mty22 commented on #58
Hi,

Thanks for the request - for now, we will wait for Hindi to be merged (in PR: https://github.com/mty22/krunker.io-translations/pull/17)

Once that's done, we'll gauge community feedback and reach out to you if needed to start on Nepali.

[2021-04-16 13:28] #58 closed

[2021-04-16 13:31] mty22 commented on #42
Hi, I've also had a few people DM me directly on Discord in regards to Hebrew language.

I'll review it and get back to you.

[2021-04-16 13:32] mty22 commented on #46
Can you please submit a pull request, then link this issue to the pull request?

![image](https://user-images.githubusercontent.com/2951231/115031801-ec216400-9f0b-11eb-9806-7078b38613bc.png)

I'll still need to review/approve it before it's merged as it may not be a language in focus.

Thank you for acting so fast though. :)

[2021-04-16 13:34] mty22 commented on #47
lol, nice.

I haven't given approval, but thank you for translating what you've done so far.

Feel free to submit a pull request if you wanted to submit what you've done so far.

[2021-04-16 13:40] barnakdaniel commented on #46
Is there a way I can apply for reviewing the translation? I am a native hungarian speaker who speaks fluent english aswell.

[2021-04-16 13:49] mty22 commented on #21
@realTiXoNyA @hellcatsrt @coeg701 @Yurikan4ik go ahead! please work together and make it happen :)

[2021-04-16 14:24] realTiXoNyA commented on #21
ok, the work on the two translations is in full swing. We teamed up with @Yurikan4ik and  @coeg701 as a team

[2021-04-16 15:01] kishernrao opened #76 "I can translate Krunker to Bahasa Melayu (Malay)"
Ive been a native speaker of Malay and English in Malaysia, I am able to understand, speak and write in Malay. If i get approval, I can get to work right away.
discord tag: theraomaN #3383

[2021-04-16 19:07] ShishKebob6570 commented on #52
Hi,
When is my issue going to be approved?
Thanks,
NiroKR

[2021-04-17 00:04] leviikrunker opened #78 "translation into traditional chinese"
translation into traditional chinese would be useful for those living in hong kong, macau and taiwan as a native cantonese spesker, some people in the region cannot read simplified chinese and for others it is much easier on the eyes. other games have both traditional chinese and simplified chinese translations as well.

my discord tag is `vl#5058` and i have worked with `L.#4444` on a translation

[2021-04-17 08:14] realTiXoNyA commented on #21
I uploaded ru.js do you see the file? if not, please tell me where to upload it)

[2021-04-17 09:58] jasperdz commented on #35
I am also a native Dutch speaker (Belgian origin) and i would love to participate!
[ Discord: `JASPER.DZ#1541` ]

[2021-04-17 11:28] MilanSCR commented on #56
@M4vm I'm pretty much done with Croatian and you could help me out with polishing it since Serbian and Croatian are esentially the same language.

[2021-04-17 15:40] Daichi1 opened #80 "Translation to Polish"

[2021-04-17 16:44] hellcatsrt commented on #21
yes I see it, thank you

On Sat, Apr 17, 2021, 1:15 AM Пингвин ***@***.***> wrote:

[2021-04-17 17:43] krunkerLover opened #81 "Bulgarian translation (v3.8.1)"
Hi Sid i saw you tweet and tried to translate as much as possible from English to Bulgarian
[Krunker translation.txt](https://github.com/mty22/krunker.io-translations/files/6329727/Krunker.translation.txt)

[2021-04-17 19:00] Awesome-Boy-001 commented on #33
Simplified Chinese language adds/updates have submitted in Pull Request: https://github.com/mty22/krunker.io-translations/pull/82

[2021-04-17 20:27] suraid0dev opened #83 "Russian translation"
I'd want to work on Russian translation for Krunker. In fact I'm native speaking in Russian

[2021-04-17 23:29] Basketboss23 commented on #57
We have decided to translate the entire thing anyway, even though we didn't get the approval, because we found it fun.  We can Submit a Pull request if you want.
@mty22
We are looking forward to your response!

[2021-04-18 09:02] #83 closed

[2021-04-18 09:47] avanish0 opened #85 "Krunker translation to spanish"
I can speak and write very fluent Spanish and I would like to take this opportunity to help the game grow and make it accessible
 to people in different communities speaking different languages. discord: smoke rival #8907.

[2021-04-18 11:17] mty22 commented on #76
`alie#0006` DM'd me with a similar request. I'll look into it but it may not be feasible at this point in time.

[2021-04-18 11:19] mty22 commented on #57
@Basketboss23 feel free to submit a PR. I am going to adjust the structure of how this works with languages aren't approved yet. :)

[2021-04-18 11:31] mty22 commented on #80
We have an active pull request at the moment for Polish language. :)

I've linked to the pull request in this issue.

Check back soon for updates, and make sure you join the translation channel on discord!

[2021-04-18 11:31] #80 closed

[2021-04-18 11:32] mty22 commented on #81
Bulgarian, nice. :) Thank you for the work!

@krunkerLover can you please let me know your Krunker ingame name and Discord username as we may need to reach out to you in future.

[2021-04-18 11:34] mty22 commented on #78
Thanks for that - there's an existing issue open for the same thing

https://github.com/mty22/krunker.io-translations/issues/49

can you reach out to those guys please?

[2021-04-18 11:34] #78 closed

[2021-04-18 11:46] mty22 commented on #85
Hi @avanish0 - thank you for this

There's an existing pull request and issue for spanish :)

https://github.com/mty22/krunker.io-translations/issues/29

Feel free to have a look at the pull request and see if you can find any problems!

Have a look and reach out if you are able to help.

[2021-04-18 11:46] #85 closed

[2021-04-18 11:48] mty22 commented on #35
@crumb8040 @jasperdz sure - reach out to @Semliot and check with him on his progress. He may have finished already.

Keep an eye out in Discord, I'll be posting an update to all the files for v3.8.2 patch soon.

[2021-04-18 12:34] #26 closed

[2021-04-18 13:02] realTiXoNyA commented on #72
our small team of translators made sketches of the translation into this language, we are ready to provide translation from 24 hours to two days if necessary

[2021-04-18 13:27] Cat3457 opened #92 "Krunker albanian language"
I am currently translating Krunker into the Albanian language
Also its not completed but if you need the non completed file here it is:
[krunker translate on albanian.txt](https://github.com/mty22/krunker.io-translations/files/6332089/krunker.translate.on.albanian.txt)
Althought i am still gonna work on it this is what ive done so far

[2021-04-18 13:31] mty22 commented on #92
thanks! will review and get back to you.

[2021-04-18 16:39] HRADZ-KR opened #96 "Slovak translation of krunker"
I was born in Slovakia and could see myself translating from English to Slovak. I don't know of anyone else in this community who could help me with this task, so I will probably get started on my own, but if someone else is interested in helping me out then we can discuss who is doing which part of the translation on discord.

My discord tag: HRADZ#8643

[2021-04-18 19:49] Cat3457 commented on #92
Also its not completed but if you need the non completed file here it is
[krunker translate on albanian.txt](https://github.com/mty22/krunker.io-translations/files/6332079/krunker.translate.on.albanian.txt)
Althought i am still gonna work on it this is what ive done so far

[2021-04-18 20:04] Cat3457 commented on #92
Also its not completed but if you need the non completed file here it is:
[krunker translate on albanian.txt](https://github.com/mty22/krunker.io-translations/files/6332089/krunker.translate.on.albanian.txt)
Althought i am still gonna work on it this is what ive done so far

[2021-04-19 09:03] MohamedRazeen102006 opened #98 "Willing to contribute to the Hindi translation of Krunker"
Hi, I am a native of India too and I know Hindi fluently. I am aware that there is already a pull request waiting for merge and raised this issue to say that I want to contribute to the translation in any way possible in the near future. Plus, Bengali is my mother tongue so if there would be a future translation of Bengali I would like to contribute to that as well. Thank you

[2021-04-19 09:38] mty22 commented on #98
Hello! I've linked to the existing pull request for Hindi language! Reach out to the current team working on it if you wish to help :)

[2021-04-19 09:38] #98 closed

[2021-04-19 10:06] mty22 commented on #61
Hello, thank you for the offer. While you're welcome to translate Krunker into Khmer language, we won't be adding it to the game anytime soon.

Check out the (README)[https://github.com/mty22/krunker.io-translations/blob/main/README.md] file, specifically this:

[code]

Cheers.

[2021-04-19 10:06] #61 closed

[2021-04-19 10:07] mty22 commented on #48
Hello, thank you for the offer. While you're welcome to translate Krunker into Vietnamese language, we won't be adding it to the game anytime soon.

Check out the README file (https://github.com/mty22/krunker.io-translations/blob/main/README.md), specifically this:

[code]

Cheers.

[2021-04-19 10:07] #48 closed

[2021-04-19 10:08] mty22 commented on #43
Hello, thank you for the offer. While you're welcome to translate Krunker into Greek language, we won't be adding it to the game anytime soon.

Check out the README file (https://github.com/mty22/krunker.io-translations/blob/main/README.md), specifically this:

[code]

Cheers.

[2021-04-19 10:08] #43 closed

[2021-04-19 10:08] mty22 commented on #42
Hello, thank you for the offer. While you're welcome to translate Krunker into Hebrew, we won't be adding it to the game anytime soon.

Check out the README file (https://github.com/mty22/krunker.io-translations/blob/main/README.md), specifically this:

[code]

Cheers.

[2021-04-19 10:08] #42 closed

[2021-04-19 10:09] mty22 commented on #22
sent follow-up to Daniels0n.

[2021-04-19 11:00] #51 closed

[2021-04-19 11:08] WpyGG4125 opened #99 "Simplified Chinese Version Update Request (v3.8.1)"
At the moment I'm working on the last parts of the Simplified Chinese version, if it still available.

Native Speaker, bilingual in both Chinese and English.

Contacts
Discord: WpyGG#4125

[2021-04-19 12:39] mty22 commented on #99
Hey @WpyGG4125  -- there's an existing pull request open.

are you able to check it out, please? :)

[2021-04-19 13:28] WpyGG4125 commented on #99
Oh yeah sure @mty22

[2021-04-19 14:57] Millionword commented on #38
bruh, u cant just google translate everything lol

[2021-04-19 15:14] mty22 commented on #99
@WpyGG4125 OK - let me question in [Discord first](https://discord.com/channels/448194623580667916/831383180086607922/833722205635739690), then we can sort it out!

[2021-04-20 07:03] ShishKebob6570 commented on #52
And btw now ErikKR has opted out of the project.

[2021-04-20 08:16] WpyGG4125 commented on #49
Have just completed the translation, I'll also be available for anything necessary

[2021-04-20 17:04] krunkerLover commented on #81
Yeah ofc Fanta2 is my ign and OBAMA PRISM#1111 is my discord

[2021-04-21 00:31] ThatAKAGuy opened #105 "Krunker Translation to Bahasa Indonesia (Indonesian) (v3.8.2)"
Hello, I would like to translate Krunker to Indonesian, since there are many players are from Indonesia. I'm afraid they won't understand English, so I'd do something amazing for them.

I'm a native speaker, bilingual in Indonesia and English, and I live and was born in Indonesia. And I know English very well, because I've been learning English since I was 2 years old. If I get approval to work on

[2021-04-21 04:37] mty22 opened #106 "Revert instances of player.killstreak back to English due to grammar issues"
https://github.com/mty22/krunker.io-translations/blob/main/kr.js#L64

![image](https://user-images.githubusercontent.com/2951231/115497465-0f9f3280-a2af-11eb-93cd-e6aeb89487a6.png)

may be worth reverting all instances across all lang files.

[2021-04-21 11:10] #35 closed

[2021-04-21 12:20] UnityEthan opened #107 "Basically done with my Simplified Chinese translation. right now waiting for 1 person to review"

[2021-04-21 12:24] #32 closed

[2021-04-21 12:31] #29 closed

[2021-04-21 12:35] uvaizfaisel commented on #2
settings.gameplay.header طريقه اللعب
thareeqath-ul-alleab actually means way of playing

i guess إعدادات اللعب will be more accurate which means the settings or the configuration of game play

[2021-04-21 12:56] #28 closed

[2021-04-21 13:01] uvaizfaisel commented on #2
in "settings.gameplay.challenge طور التحدي"
طور التحدي just means "turn on the challenge" and if we look some other way, we get many other inaccurate meanings
I suggest using طريقة التحدي, which perfectly translates to challenge mode

[2021-04-21 13:15] uvaizfaisel commented on #2
the whole Arabic language is based on opinions, so I must highlight that the other contributor also should agree with me, to finalize that my arguments are correct, even though I'm a semi-native Arabic speaker and studies in an English medium school my language subject is Arabic, so I could help further on correction, also I'm glad to help the krunker community :]

[2021-04-21 13:32] mty22 commented on #106
Korean done: https://github.com/mty22/krunker.io-translations/commit/40371782b1cf76fb2299220fdb1a60725d214f0d

[2021-04-21 13:46] UnityEthan opened #111 "All done with my Chinese translation, reviewed by XxMetakingxX #4581 and myself"

[2021-04-21 15:38] UnityEthan opened #112 "WpyGG also reviewed my chinese translation"

[2021-04-21 15:39] UnityEthan opened #113 "Starting a new Traditional Chinese project"

[2021-04-21 17:00] fich-c commented on #2
well, طور التحدي accurately means challenge mode. the way you translated it is طريقه التحدي which means challenge way/challenging.

[2021-04-21 17:09] fich-c commented on #2
yes, some of the Arabic language is based on opinions, but not all opinions are right. I have experience in translation mainly website translating and little experience in game translation. You are pretty good for a semi-native Arab, so I would love to work with you 😄 You also need to learn/know Classical Arabic, which is the main Arabic type used for translation and text.

[2021-04-21 20:06] uvaizfaisel commented on #2
yeah,  I will ask to my Arabic sir and let you know about it shortly.

[2021-04-21 20:11] uvaizfaisel commented on #2
I don't speak Arabic a lot at my home, though I'm an Arabic student, so yeah I know about its grammar and related subjects
, I guess we don't have to talk more about it because, yeah that was the only two mistakes I found, now the real problem is making its way to the game.

[2021-04-21 20:45] fich-c commented on #2
I appreciate your help 😊. And may i ask whats your naitve language cause it might help?

[2021-04-21 20:48] uvaizfaisel commented on #2
well , as my mother is from India,  my true native language is Malayalam

[2021-04-21 20:58] fich-c commented on #2
Try translating krunker to Malayalam! It will help add more languages to the game!

[2021-04-21 21:13] uvaizfaisel commented on #2
alright, does that mean i should stop by here, or inquire about the correction mentioned above to my sir?

[2021-04-21 21:23] fich-c commented on #2
No. I meant translate what is easier to you and likely not to get some mistakes in since you are still learning arabic and that great! i appreciate every help you've done even if its worng. 👍

[2021-04-22 00:16] Nevzky opened #115 "Norwegian"

[2021-04-22 00:28] ligmabots commented on #21
hey @mty22 can I help with russian translation, or if it's done I can verify it.

[2021-04-22 00:44] xKyotani opened #116 "Korean translate contribution."
I can contribute to translate South Korean since I am a Korean who can speak the language very well.

[2021-04-22 03:02] Wreck-It-Felix commented on #2
Hey guys, I can help you if you want in contributing to write Arabic, high school native arabic speaker here

[2021-04-22 07:26] Parabellum0205 opened #118 "Can succesfully translate krunker into hindi"
I speak hindi everyday and can do it properly for krunker.... discord : Para#8621

[2021-04-22 08:53] Galaxy-png opened #119 "I can translate krunker into Urdu"
yeah I'm a native urdu speaker from Pakistan, would love to help!
Discord: galaxy#7405

[2021-04-22 09:33] Css-debug opened #120 "Malayalam Translation application"
We will be working on a team of 5

Translators

1) astro#1876
2) VK#8617
3) Reverb#9999

Checker / Reviewer

1) fredtron1001#5099
2) AJVisuals#8336

We will keep in mind the rules and regulations and the consequences if we do not abide by them.

Sincerely,
Our Team

[2021-04-22 09:43] REMLO1 opened #121 "please can I do some translating?"
pls

[2021-04-22 13:13] SmqckedKr opened #123 "Krunker Marathi Translation"
translating into Marathi if i get approval

I shall translate the whole text along with my frnds,

We speak native Marathi and will be happy to help

[2021-04-22 14:32] ziad-Ro commented on #2
i can help too. Arabic native speaker too!

[2021-04-22 14:33] ziad-Ro opened #124 "Krunker Arabic translation"

[2021-04-22 15:48] KamilMadera opened #125 "Krunker Czech translation"
Hi! I would like to translate into Czech language. I'm a native speaker.
_I'm waiting for approval..._

[2021-04-22 19:32] uvaizfaisel commented on #68
can I join your team as reviewer , I would be very happy to help !!

[2021-04-22 22:06] Jack-Borg opened #127 "Danish language support"
Hi there

Native Danish speaker here. I would like to translate Krunker to Danish :)

[2021-04-23 07:21] Hiro527 opened #129 "Japanese language updates(v3.8.2)"

[2021-04-23 07:47] Hiro527 commented on #129
I'll work at [ja_JP](https://www.github.com/mty22/krunker.io-translations/tree/ja_JP/).

[2021-04-23 07:53] mty22 commented on #129
@Hiro527 no problems, just remember to rebase from `main` before you start working in your branch. Ping me if you have questions.

[2021-04-23 07:55] Hiro527 commented on #129
yeah ok i won't forget one more time
I've learned how to rebase completely(｡•̀ᴗ-)✧

[2021-04-23 08:46] Hiro527 commented on #129
#131

[2021-04-23 10:53] Alfresci opened #133 "I can translate Krunker into Telugu as I speak it everyday."

[2021-04-23 11:16] Bleenflame opened #134 "I can translate Krunker into Mongolia"
How can I join translators?

[2021-04-23 11:47] KamilMadera commented on #125
I'm working on it!

[2021-04-23 11:57] Sorte1 commented on #127
I am also a native Danish speaker.

[2021-04-23 13:57] CrafterlKrunker commented on #127
@Jack-Borg you are best

[2021-04-23 13:59] Jack-Borg commented on #127
@Sorte1 contact me on discord Jack Borg#6360 and we can talk about working on it

[2021-04-23 14:26] thaihudon opened #137 "I can help krunker with Vietnamese"

[2021-04-23 15:57] Tarikus252 opened #139 "Krunker Ukrainian translation"
Hello. I would like to help Krunker with Ukrainian translation.

[2021-04-23 16:45] Tarikus252 commented on #72
@realTiXoNyA   , so you are working on it?

[2021-04-23 18:45] magmatic-tac opened #140 "caméras du tueur?"
https://github.com/mty22/krunker.io-translations/blob/08f48d9a07c1b6948e7717cc3818185c3ea180d2/fr.js#L635

[2021-04-23 18:58] #140 closed

[2021-04-24 05:38] ccy131006 opened #143 "I can help Krunker translate into Cantonese"
I hope I can help Krunker translate into Cantonese because it can help those players in Hong Kong(The main language is Cantonese) that weak in English

[2021-04-24 08:32] mty22 commented on #76
Hi, we will hold off on this for now until we have more demand for this language.

[2021-04-24 08:32] #76 closed

[2021-04-24 08:32] mty22 commented on #123
Hi, for now we will stick with just Hindi language. Thanks!

[2021-04-24 08:32] #123 closed

[2021-04-24 08:33] mty22 commented on #139
@Tarikus252 please use search

dupe https://github.com/mty22/krunker.io-translations/issues/72

[2021-04-24 08:33] #139 closed

[2021-04-24 08:33] mty22 commented on #137
please use search

https://github.com/mty22/krunker.io-translations/issues/48

[2021-04-24 08:33] #137 closed

[2021-04-24 08:35] mty22 commented on #127
Hi @Jack-Borg

We currently have German (currently in-game) and Dutch (pending to be added) translated.

I'd need to check about feasibility on adding Danish based on player numbers before I can approve.

This doesn't mean you aren't able to translate into Danish, it just means that the language is not likely to be added and you wouldn't be eligible for KR rewards (unless approved).

Cheers.

[2021-04-24 08:36] mty22 commented on #96
Hello!

We're going to have to hold off on Slovakian language for now.

Thank you for the interest though.

[2021-04-24 08:36] #96 closed

[2021-04-24 08:37] mty22 commented on #143
Hi,

for now, we will stick with simplified chinese, and potentially traditional chinese in the future.

thank you for the interest.

[2021-04-24 08:37] #143 closed

[2021-04-24 08:40] mty22 commented on #120
Hello.

For now, we will just stick with Hindi language as it's mostly spoken in India:

https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers_in_India

Thank you.

[2021-04-24 08:40] #120 closed

[2021-04-24 08:41] mty22 commented on #125
Hello.

Thanks for the interest. For now, we'd like to hold off on adding Czech language to the game.

While you are welcome to translate Krunker into Czech, you wouldn't be eligible for rewards unless the language is added to the game.

Thank you.

[2021-04-24 08:41] #125 closed

[2021-04-24 08:42] mty22 commented on #124
see existing issue https://github.com/mty22/krunker.io-translations/issues/2

[2021-04-24 08:42] #124 closed

[2021-04-24 08:42] mty22 commented on #118
We have an existing pull request which is pending to be added: https://github.com/mty22/krunker.io-translations/pull/17

reach out to their team for support.

[2021-04-24 08:42] #118 closed

[2021-04-24 08:50] mty22 commented on #116
Hi @xKyotani !

Keep an eye out in Krunker Bunker, specifically the translation project channel.

I post updates there when changes to Korean language comes out.

For now, check out this pull request: https://github.com/mty22/krunker.io-translations/pull/130

[2021-04-24 08:50] #116 closed

[2021-04-24 08:51] mty22 commented on #113
duplicate https://github.com/mty22/krunker.io-translations/issues/49

[2021-04-24 08:51] #113 closed

[2021-04-24 08:52] mty22 commented on #121
please checkout the README.md file

[2021-04-24 08:52] #121 closed

[2021-04-24 08:53] mty22 commented on #119
Hi there.

For now, we will hold off on this language.

Thank you for the interest.

[2021-04-24 08:53] #119 closed

[2021-04-24 08:54] #112 closed

[2021-04-24 08:54] mty22 commented on #111
no need to create issues, I see the pull request

[2021-04-24 08:54] #111 closed

[2021-04-24 08:54] mty22 commented on #107
no need to create multiple issues

[2021-04-24 08:54] #107 closed

[2021-04-24 08:55] mty22 commented on #105
Hi,

Thanks for the interest. For now we will hold off on Bahasa.

We also have this issue here: https://github.com/mty22/krunker.io-translations/issues/76

We'll reach out to you on this if we go ahead.

Cheers.

[2021-04-24 08:55] #105 closed

[2021-04-24 08:55] #99 closed

[2021-04-24 08:56] mty22 commented on #133
Hello,

We will stick with Hindi language for now --- see: https://github.com/mty22/krunker.io-translations/pull/17

Thank you!

[2021-04-24 08:56] #133 closed

[2021-04-24 08:59] mty22 commented on #115
Hello!

Thanks for the interest. We'll hold off on this for now and reach out to you if we decide to add in future.

Thanks!

[2021-04-24 08:59] #115 closed

[2021-04-24 09:07] mty22 commented on #134
Hello!

Thanks for the interest. We'll hold off on this for now and reach out to you if we decide to add in future.

Thanks!

[2021-04-24 09:07] #134 closed

[2021-04-24 10:14] BOBMLXIII opened #144 "Japanese Language Chances"
I am living in japan rn and I know a lot so I want to be a translator.

[2021-04-24 10:15] #144 closed

[2021-04-24 10:16] BOBMLXIII opened #145 "Japaneese Language Updates v2"
I am living in japan right now and also born in japan so I want to be translator.

[2021-04-24 13:49] Yurikan4ik commented on #72
@Tarikus252 hello! We have already done with Ukrainian translation.

[2021-04-25 00:01] RIFLEJI opened #146 "Krunker translation to Chinese (Simplified)"

[2021-04-25 00:20] RIFLEJI opened #147 "Krunker to Simplified Chinese"

[2021-04-25 00:42] RIFLEJI opened #148 "Krunker to simplified chinese"
[krunker.io-translations-main.zip](https://github.com/mty22/krunker.io-translations/files/6370982/krunker.io-translations-main.zip)

[2021-04-25 03:13] retroisgood123 opened #149 "Krunker Indonesian translation"

[2021-04-25 04:34] VandyTweaks opened #150 "I can translate krunker to Hindi (Native Language of India)"
I speak Hindi everyday and I can translate it :)

[2021-04-25 07:21] ProFrank9453 opened #151 "Can we have [Traditional Chinese] in Krunker?"
We have Simplified Chinese in Krunker for the Chinese people.
But, we need a official language for Hong Kong, Macau, and Taiwan.
So, I think we need to have Traditional Chinese in Krunker.

[2021-04-25 10:09] mty22 commented on #145
@BOBMLXIII これをチェックしてくれますか？ https://github.com/mty22/krunker.io-translations/pull/131

もし問題があったら、上のPull Requestにコメントしてください！

[2021-04-25 10:09] #145 closed

[2021-04-25 10:09] mty22 commented on #145
https://github.com/mty22/krunker.io-translations/issues/129 dupe

[2021-04-25 10:12] mty22 commented on #150
hello! please read the README file before creating an issue!

I've linked to Hindi pull request.

[2021-04-25 10:12] #150 closed

[2021-04-25 10:13] mty22 commented on #148
hi, we don't open user supplied zip files.

please submit changes only via pull request.

[2021-04-25 10:13] #148 closed

[2021-04-25 10:14] mty22 commented on #147
https://github.com/mty22/krunker.io-translations/issues/148 dupe

[2021-04-25 10:14] #147 closed

[2021-04-25 10:14] mty22 commented on #149
Hello! For now, we will hold off on Indonesian.

Thank you for your interest.

[2021-04-25 10:14] #149 closed

[2021-04-25 10:15] mty22 commented on #151
https://github.com/mty22/krunker.io-translations/issues/49 duplicate

[2021-04-25 10:15] mty22 commented on #151
@ProFrank9453 there's a pull request active already:

https://github.com/mty22/krunker.io-translations/pull/138/files

Can you help by reviewing, please?

[2021-04-25 10:15] #151 closed

[2021-04-25 10:38] #46 closed

[2021-04-25 10:44] #47 closed

[2021-04-25 10:50] #81 closed

[2021-04-25 10:57] #57 closed

[2021-04-25 13:03] abdulqadirwebdev opened #152 "Krunker Translation to Urdu"
I am going to be translating krunker into urdu, help would be appreciated :)

[2021-04-25 13:31] VandyTweaks commented on #152
I can help surely :) I am working on it right now

[2021-04-25 15:18] UnityEthan opened #154 "Done with simplified Chinese translation, here are the percentages:"
EVERYTHING BELOW IS ASSUMING THAT THE REWARD ON TRADITIONAL IS 50k:
Credits: 1) Stonkman#948, ign: GV_EthanW, contributed to 80% of the translation
2) WpyGG#4125, ign: WpyGG, contributed to 10% of the translation
3) Awesome_Boy#7555, ign: Awesome_Boy, contributed to 10% of the translation

[2021-04-25 15:35] abdulqadirwebdev commented on #152
okay when are we going to be approved

[2021-04-25 15:36] abdulqadirwebdev commented on #152
okay we should start then hope you know urdu :P

[2021-04-25 17:33] #152 closed

[2021-04-25 17:33] abdulqadirwebdev commented on #152
Okay so how much are you willing to translate
200 lines?

[2021-04-26 04:12] VandyTweaks commented on #152
yes I can translate that much
after i have done that I will attach the js file here

[2021-04-26 06:34] gio404gio commented on #25
HI, I would be interested to partecipate  the project. Im from Italy.
Discord: scusa#9624

[2021-04-26 13:50] Therealzz opened #157 "Krunker translation to Chinese (Hong Kong)"
I would like to start a new project of the Krunker translation from EN to ZH-HK.
Similar localization strategy is also applied on Youtube providing 3 different localizations:
Chinese(Simplified), Chinese(Traditional) and Chinese(Hong Kong)
I think it will provide a better localization and experience for Hong Kong Krunker players if ZH-HK is also available.

I am about to work with vl#5058 and L.#9

[2021-04-27 09:54] #129 closed

[2021-04-27 23:04] #154 closed

[2021-04-27 23:04] mty22 commented on #146
https://github.com/mty22/krunker.io-translations/issues/49

[2021-04-27 23:04] #146 closed

[2021-04-28 04:52] jackshallattack commented on #157
we has started one but it was closed, so idk anymore

[2021-04-28 11:30] mty22 commented on #106
Will keep the rest as is for now.

[2021-04-28 11:30] #106 closed

[2021-04-28 11:31] mty22 commented on #157
Hey @jackshallattack and @Therealzz - please check this issue out: https://github.com/mty22/krunker.io-translations/issues/49

Reach out to those guys, they can work with you on this.

[2021-04-28 11:31] #157 closed

[2021-04-30 14:21] #33 closed

[2021-04-30 15:09] #31 closed

[2021-04-30 15:13] mty22 commented on #50
I still need to find out player statistics to see if its feasible to translate Krunker into Romanian language.

[2021-04-30 15:14] mty22 commented on #52
Hello,

for now - we will hold off on translating Krunker into Swedish.

thank you for the interest!

[2021-04-30 15:14] #52 closed

[2021-04-30 15:19] gio404gio commented on #25
thanks, keep me update.
GD

Il giorno ven 30 apr 2021 alle ore 17:14 Matt Taylor <
***@***.***> ha scritto:

[2021-04-30 19:07] ShishKebob6570 commented on #52
Does this mean Swedish will be a future language possibly? That too, I'll just send this thread to the others.
(We are 13 yrs old btw :D )

[2021-04-30 19:12] ShishKebob6570 commented on #52
No problem!

On Fri, 30 Apr 2021 at 17:14, Matt Taylor ***@***.***> wrote:

[2021-04-30 22:14] schwLft opened #167 "Pig Latin Language *if possible* *some hebrew too*"

[2021-05-02 09:16] ziad-Ro commented on #2
yes its accurate but I think the contributor put طريقه اللعب cause of the text box إعدادات اللعب wont work out.

[2021-05-02 14:43] developers192 opened #169 "Krunker Vietnamese Translation"

[2021-05-02 14:44] developers192 commented on #169
Vietnam has a lot of krunker players so i want to translate krunker to Vietnamese.

[2021-05-04 11:44] mty22 commented on #167
Nope.

Pig latin is just an obfuscations of English.

[2021-05-04 11:44] #167 closed

[2021-05-04 11:45] mty22 commented on #169
will review

[2021-05-04 11:45] mty22 commented on #169
hey @developers192  - please check https://github.com/mty22/krunker.io-translations/issues/48

[2021-05-04 11:45] #169 closed

[2021-05-04 11:52] #21 closed

[2021-05-06 01:18] 404useronkrunker opened #171 "Krunker Translation to Urdu"
I am willing to translate krunker into urdu as there are vast pakistani people playing krunker nowadays

[2021-05-09 05:52] #22 closed

[2021-05-09 07:20] mty22 commented on #72
For now, we will stick with Russian translation. Thank you for the interest. If we add Ukrainian, I'll get in contact with you.

[2021-05-09 07:21] mty22 commented on #50
We'll hold off on Romanian for now, I'll ping you if we wish to add it in future - thank you!

[2021-05-09 07:21] #50 closed

[2021-05-09 07:25] mty22 commented on #25
@MrGira Italian is approved - you are in charge of forming a team of native Italian speakers.

https://raw.githubusercontent.com/mty22/krunker.io-translations/main/en.js

Another player ( @pifferaioarkyno )  did start working on it, so you are welcome to continue work from their contributions so far:

https://github.com/mty22/krunker.io-translations/pull/122/files

https://meldmerge.org/ -- this t

[2021-05-09 07:28] gio404gio commented on #25
np ill start working on it. Thanks for the news and to accepted me.
Have a good day

Il giorno dom 9 mag 2021 alle ore 09:25 Matt Taylor <
***@***.***> ha scritto:

[2021-05-09 07:29] mty22 commented on #71
Tagalog is approved.

[2021-05-09 07:40] MrGira commented on #25
Thank you @mty22. We will review @pifferaioarkyno work and proceed with translation as soon as possible. Please @gio404gio don't start working on your own, we are already organizing

[2021-05-09 07:40] mty22 commented on #49
This is approved.

[2021-05-09 07:42] gio404gio commented on #25
ok understood, im in contact with MrGira, he will tell me how to properly
work with them. Thanks again for the possibility to work with u guys.

Il giorno dom 9 mag 2021 alle ore 09:40 MrGira ***@***.***>
ha scritto:

[2021-05-10 08:53] RobinQuan7648 opened #174 "Krunker Translation to Vietnamese"
I am willing to translate into Vietnamese. I want to help the community

[2021-05-11 04:02] Hiro527 opened #176 "Japanese language updates(v3.8.6)"

[2021-05-11 10:03] akaRupture opened #179 "Hindi translation update(v3.8.6)"

[2021-05-13 10:44] #176 closed

[2021-05-16 07:16] notexos opened #185 "Krunker Translation To Albanian"
I saw that someone was already working on the Albanian Translation and he didnt finish the work. I would happily like to help him or finish the project.

[2021-05-16 08:11] kushu19 opened #186 "Translating to German"
I want to start translating to the Indian bengali language

[2021-05-16 08:12] #186 closed

[2021-05-16 08:12] kushu19 opened #187 "krunker bengali translation"
I want to start translating to the bengali language

[2021-05-16 08:36] realTiXoNyA opened #188 "Ukrainian language"
why do you ignore this language?( there are a lot of krunker players in Ukraine...

[2021-05-16 14:24] AriacWS opened #189 "Swedish translator."
Hello! My name is Ariac, I am Swedish and I would like to become a Swedish translator in krunker.io.

Discord: Ariac#6830

[2021-05-16 16:32] BatMatt71 commented on #25
Hello. I saw this issue and I was wondering if help is wanted. I would gladly help

[2021-05-18 12:36] ziad-Ro commented on #2
is the arabic translation finished is there anything that i can help with?

[2021-05-21 00:56] mty22 commented on #188
please see https://github.com/mty22/krunker.io-translations/issues/72

[2021-05-21 00:56] #188 closed

[2021-05-21 00:57] mty22 commented on #185
duplicate https://github.com/mty22/krunker.io-translations/issues/92

reach out to the user in the link above please~

[2021-05-21 00:57] #185 closed

[2021-05-21 00:58] mty22 commented on #187
duplicate of https://github.com/mty22/krunker.io-translations/issues/38

for now, we are just sticking with Hindi.

[2021-05-21 00:58] #187 closed

[2021-05-21 00:58] mty22 commented on #174
duplicate https://github.com/mty22/krunker.io-translations/issues/48

[2021-05-21 00:58] #174 closed

[2021-05-21 00:58] mty22 commented on #30
reached out to Jypa on this one

[2021-05-21 00:59] mty22 commented on #189
duplicate https://github.com/mty22/krunker.io-translations/issues/52

[2021-05-21 00:59] #189 closed

[2021-05-21 03:55] Rmdhnaldli opened #192 "Krunker Indonesia translation"
Hello. My native language is Indonesia and English and I would like to participate in this translation project. I would love to get my language into the game. Cheers.

[2021-05-22 02:44] mty22 commented on #192
Check https://github.com/mty22/krunker.io-translations/issues/105

thank you

[2021-05-22 02:44] #192 closed

[2021-05-27 04:45] quantizednerd opened #194 "Krunker Translation to Vietnamese"

[2021-05-28 00:30] #194 closed

[2021-05-30 04:25] #179 closed

[2021-05-31 13:21] Thanosisnub opened #196 "Indonesian (B.Indo / Bahasa Indonesia) Translation"

[2021-05-31 13:22] Thanosisnub commented on #196
pls approve:)

[2021-06-01 13:11] mty22 commented on #196
Please.. please.. please.. read the README and use the search feature.

Duplicate of https://github.com/mty22/krunker.io-translations/issues/105

[2021-06-01 13:11] #196 closed

[2021-06-01 13:53] Thanosisnub commented on #196
k read it...holding off bahasa....inform me pls when working on it

[2021-06-03 23:44] 8-10krunker commented on #171
id like to help with this project

[2021-06-04 15:05] 8-10krunker opened #197 "Krunker translation to urdu"

[2021-06-04 15:08] 8-10krunker commented on #2
Hey, id like to help with arabic if theres anything left to do :}

[2021-06-04 15:14] 8-10krunker commented on #65
Id like to help with Thai too. I learned a bit of Thai and have siblings that can speak it. my discord is: 8-10#4197
:}

[2021-06-04 16:28] 8-10krunker commented on #25
Hi, i was wondering if i could help with this project. I would be happy to help

[2021-06-04 20:53] Cat3457 commented on #92
Sure!

[2021-06-05 14:25] #49 closed

[2021-06-05 14:32] #25 closed

[2021-06-05 14:32] mty22 commented on #25
This one is complete~

Check for future updates~

[2021-06-06 10:32] BatMatt71 commented on #25
Oh

[2021-06-06 10:32] BatMatt71 commented on #25
:(

[2021-06-07 07:53] notexos commented on #92
@Cat3457 contact me on discord please! exos#0001

[2021-06-08 12:26] Cat3457 commented on #92
ok

[2021-06-11 16:06] GiammyRL commented on #25
I wanted to help but I guess it's too late!

[2021-06-18 06:16] pjhsjiim0913 commented on #116
I can also contribute to translate Korean, because I use Korean language as my first language.

[2021-06-18 06:23] pjhsjiim0913 opened #199 "I contribute to translate Korean."
Hello. I am interested at translating Korean Language, how can I join?
My discord : pjh0913#5535

[2021-06-18 06:31] #199 closed

[2021-06-19 21:27] Cat3457 commented on #92
So recently i have uninstalled discord so i cant do that anymore. Idk but i may also not continue the translation. If you know/have any other way i can contact you exept discord let me know

[2021-06-21 14:45] notexos commented on #92
Sorry i dont have any other way of contacting you, we could talk here though, I could continue the translation that u already sent here above.

[2021-06-21 16:47] Cat3457 commented on #92
Ok we can talk here i guess

[2021-06-29 07:01] Cat3457 commented on #92
So i actually canceled the deletion of my account so we can talk on discord, i have sent you a friend request

[2021-07-06 11:01] #71 closed

[2021-07-07 13:03] Ni7r4m opened #203 "Krunker translation to Indonesian"

[2021-07-07 14:48] Vylerria opened #204 "Krunker Translate to Traditional Chinese"

[2021-07-07 22:28] Vylerria commented on #204
i have completed the translation, should i submit it and where should i do that?

[2021-07-08 00:56] mty22 commented on #204
Hi @Vylerria - feel free to check the README file ([https://github.com/mty22/krunker.io-translations/blob/main/README.md)

Thank you.

[2021-07-08 00:57] mty22 commented on #204
In short, submit a pull request for review :)

[2021-07-08 00:57] #204 closed

[2021-07-08 00:57] mty22 commented on #197
https://github.com/mty22/krunker.io-translations/issues/171

[2021-07-08 00:57] #197 closed

[2021-07-08 00:58] mty22 commented on #171
For now, we will hold off on this.

The game doesn't have support for languages where they're written from right to left.

[2021-07-08 00:58] #171 closed

[2021-07-08 00:59] mty22 commented on #92
Hi all, sorry for the delay. We will hold off on this language for now. If we add it in future, we'll re-open this thread.

Until then, you're welcome to translate the game into your language, although it won't be added into the game.

[2021-07-08 00:59] #92 closed

[2021-07-08 01:00] mty22 commented on #127
Sorry for the delay. We will hold off on this language for now. If we add it in future, we'll re-open this thread.

[2021-07-08 01:00] #127 closed

[2021-07-08 01:01] mty22 commented on #2
Going to close this one off since it doesn't seem to be possible with the left to right syntax.

[2021-07-08 01:01] #2 closed

[2021-07-08 01:02] mty22 commented on #56
Sorry for the delay. We will hold off on this language for now. If we add it in future, we'll re-open this thread.

This doesn't mean you aren't able to translate into your respective, it just means that the language is not likely to be added and you wouldn't be eligible for KR rewards (unless approved).

[2021-07-08 01:02] #56 closed

[2021-07-08 01:02] mty22 commented on #65
Sorry for the delay. We will hold off on this language for now. If we add it in future, we'll re-open this thread.

This doesn't mean you aren't able to translate into your respective, it just means that the language is not likely to be added and you wouldn't be eligible for KR rewards (unless approved).

[2021-07-08 01:02] #65 closed

[2021-07-08 01:02] mty22 commented on #203
https://github.com/mty22/krunker.io-translations/issues/105

[2021-07-08 01:02] #203 closed

[2021-07-09 00:36] the-qru opened #205 "Vietnamese"
I am working on on translation to Vietnamese.

discord is smg#6775

[2021-07-09 00:44] #205 closed

[2021-07-09 00:46] the-qru opened #206 "British English"

[2021-07-09 00:48] mty22 commented on #206
not required

[2021-07-09 00:48] #206 closed

[2021-07-09 00:48] the-qru commented on #206
Since I grew up where the spelling and everything follows British English it does get awkward seeing different spellings because I think its wrong. But I can make the changes for it

[2021-07-12 14:17] DevOjas commented on #30
i can try if ya want

[2021-07-19 07:59] Hiro527 opened #210 "Update jp.js(v4.0.9)"
I'm working on https://github.com/mty22/krunker.io-translations/tree/ja_4.0.9

[2021-07-19 11:34] Refutable13 opened #215 "Swedish Translation"
I am aware there has been issues regarding Swedish translation before. However, I hope the time may finally have come to introduce Swedish to krunker.io. Swedish is my native language and I would happily contribute to this project. I could also have it finished rather quickly for that matter.

Best regards.

[2021-07-20 08:19] TrafficDonkey opened #219 "nl.js updates (v4.2.2)"
I want to work on this project with somebody else
 https://github.com/mty22/krunker.io-translations/pull/207/commits/5caa17cf637e2b1aaf93f346ee0e0fa37ff012cd

[2021-07-22 08:30] #210 closed

[2021-07-23 13:37] BANGLADESH9494 commented on #38
@mty22 If you need any Bengali native language reviewer, contract with me. @ImMarvel has a lot of misspellings, so contract with me for review. My discord id- BΛNGLΛDΞSH 💦#9494. Thanks.

[2021-07-24 09:27] peyang-Celeron opened #220 "[Japanese] Fixing incomplete translations and translations that don't match the guide."
I'm in charge of translating a large game server.
I found a translation of Krunker that doesn't match the ["JTF Style Guide for Translators Working into Japanese"](https://www.jtf.jp/pdf/jtf_style_guide.pdf), can I fix it?
Also, there are some incomplete translations and I would like to publish a PR with them corrected.
Discord: `Peyang#0001`
Krunker: `peyang`

[2021-07-25 14:19] mty22 commented on #220
@Hiro527さん、 どう思いますか？

[2021-07-25 14:27] Hiro527 commented on #220
今年に入ってから翻訳を担当しているHiroと申します。

確かに不完全だったりする部分が多々あることは前々から承知しています。
ただ、ゲームというものの性質上UIに多少なりとも合わせなければいけない部分があるので、長くなる表現を避けていたりするのが現状です。その結果わかりにくかったり意味は通るけど少し不自然、不完全なものになってしまっています。
翻訳の改善には賛成をしますがそのガイドがゲームの翻訳向けではないことから起こるデメリットが少し気になってしまいます。
また、どのような部分がJTFのガイドに即していないかなど具体的に教示していただけると幸いです。

[2021-07-26 08:18] Inspire-24 opened #221 "hi.js update v4.09"
working on this

[2021-07-26 08:49] peyang-Celeron commented on #220
レビューありがとうございます。
JTFのガイドに即していない点としては、「!」「?」「()」が全角でない点や、末尾の「er」に対する長音が統一されていない(「フィルタ」「ブラウザ」)点、「でき - る」等を「出来 - る」と表記している点などが挙げられます。
また、JTFガイドには記載されておりませんが「...」を「…」\(三点リーダー\)と表記すると見た目の改善を行えるかもしれません。
参考：
![image](https://user-images.githubusercontent.com/42040068/126961180-1eabbde7-4398-4fb9-821d-31d19d803bac.png)
![image](https://user-images.githubusercontent.com/42040068/126961219-222da83e-cfbe-4c2f

[2021-07-26 09:13] Hiro527 commented on #220
記号を半角に揃えているのは英語UIとの統一のために意図的に行っています。Krunkerは一部のUIの翻訳が追いつかないなどの理由で英語の部分が少し残っていることがあるため全角にしてしまうと見た目が崩れるかもしれないためです。
erに対する長音の統一が取れていないのはご指摘のとおりです。現状、過去の翻訳者が翻訳した部分などと統一が取れていません。

三点リーダに関してはフォントの対応状況がバラバラなことがあるためピリオドで表現しています。リソーススワッパーやModによりフォントが変えられるため安全策を取っています。

改善ができる部分はたくさんあると思うので、もし必要でしたら僕もお手伝いさせていただきたいです。よろしくお願いします。

[2021-07-26 09:21] peyang-Celeron commented on #220
了解いたしました。迅速なご対応をいただきありがとうございました。

とりあえずerに対する長音の統一 に関するPRをのちほど開いても宜しいでしょうか？
また、その際はレビューをお願いしたく存じます。

[2021-07-26 09:49] Hiro527 commented on #220
@peyang-Celeron
了解です。お時間のあるときに是非お願いします。

[2021-07-27 02:03] mty22 commented on #219
Go for it.

[2021-07-27 02:03] mty22 commented on #221
Go for it.

[2021-07-28 17:40] MrGira opened #227 "[Italian] Issue with "player.killstreak" string"
I found two problems with the ```player.killstreak``` string:

- When the player does a killstreak, the message doesn't make sense since the placeholder ```{0}``` gives the output "_You're_".

![image](https://user-images.githubusercontent.com/82208243/127369121-32d19703-65b1-431c-b5a0-b4a3edd9aeb3.png)

- When an opponent is on a killstreak, the message doesn't make sense since the same aforement

[2021-07-28 23:24] mty22 commented on #227
Ah yes, this is a known issue. should revert it all back to English.

[2021-07-28 23:25] mty22 commented on #227
leaving open as I need to update README.md

[2021-07-29 07:05] #220 closed

[2021-08-01 03:39] mty22 commented on #227
related https://github.com/mty22/krunker.io-translations/issues/1

[2021-08-01 03:45] mty22 commented on #215
Hello!

Thanks for the interest! We're currently not looking to translate Krunker into Swedish.

Keep in mind that in order to be eligible for KR payouts, the language must be approved first. With that being said, you are still welcome to translate it although it won't be added to the game.

Thanks!

[2021-08-01 03:45] #215 closed

[2021-08-01 03:49] #227 closed

[2021-08-01 16:01] BluZed commented on #221
Can I help you in any sort of way? I would like to help in improvement of this delightful game. I am fluent in Hindi. :D

[2021-08-01 16:03] BluZed commented on #221
So if yes, you can add me at discord- BluZed#9946

[2021-08-01 16:16] BluZed commented on #221
Help wanted? Can I have permission?

[2021-08-01 16:25] BluZed commented on #221
Can I get approval for help?

[2021-08-01 16:30] StarRayX opened #232 "Pirate Language"
Might be fun to have a joke language in Krunker every now and then

[2021-08-03 03:54] mty22 commented on #221
@BluZed reach out to @Inspire-24 and see if you can team up and work on it.

[2021-08-03 03:54] mty22 commented on #221
@BluZed actually, have a look at this pull request: https://github.com/mty22/krunker.io-translations/pull/230/files and review please!

[2021-08-03 03:55] mty22 commented on #232
Sorry, at this stage -- we will not do this.

[2021-08-03 03:55] #232 closed

[2021-08-03 04:29] BluZed commented on #221
@mty22 Sure

[2021-08-03 08:29] BluZed opened #234 "hi.js Changes"
Working on hi.js

[2021-08-03 08:52] BluZed commented on #234
[here](https://github.com/mty22/krunker.io-translations/pull/235)
CHANGED VERY FEW THINGS

[2021-08-05 03:27] VisionOP19 opened #238 "Krunker Hindi translation"
Hi, I would like to help with translation for Hindi language. Can i be permitted to do so?

[2021-08-09 09:49] nickauthentic commented on #219
you can work with me. incase I'm not there or don't have time

[2021-08-11 10:33] mty22 commented on #238
duplicate https://github.com/mty22/krunker.io-translations/issues/221

[2021-08-11 10:34] mty22 commented on #234
please read the readme
duplicate of https://github.com/mty22/krunker.io-translations/issues/221

[2021-08-11 10:34] #234 closed

[2021-08-11 10:34] #238 closed

[2021-08-12 11:50] dachi2018 opened #241 "Krunker Translation to Georgian. (v4.1.8)"
looking for approval

[2021-08-14 05:24] mty22 commented on #30
@DevOjas can you please have a look at @DefinitelyJypa 's changes here: https://github.com/mty22/krunker.io-translations/pull/236

I'll send you KR upon completion.

[2021-08-16 17:35] JuiceDiscord opened #243 "Krunker Translation to Albania."
Looking For Approval!

[2021-08-20 09:23] Gerardo2704 opened #246 "Krunker Translation to Romanian"
IGN: Gerardo2704

[2021-08-26 02:45] symbice opened #247 "Krunker Translation to Vietnamese"
look for approval
discord: symbice#1423

[2021-08-28 04:43] #221 closed

[2021-08-28 12:44] BD-T opened #249 "Krunker Bangla or Bengali translation."
I just want to say I want to translate Krunker In Bangla/Bengali language, don't give me a duplicate tag. Ik I am duplicating from the real but I just want to say we need the Bengali/Bangla language. In Krunker there has 1500 players who are Bengali and talks in Bangla/Bengali and they play Krunker, so I request to translate Krunker into the Bengali/Bangla language. Waiting for approval, My discor

[2021-08-29 06:07] mty22 commented on #219
hi @TrafficDonkey - any updates on this?

[2021-08-29 06:07] mty22 commented on #247
Hello -- please use the search feature as per README.md

https://github.com/mty22/krunker.io-translations/issues?q=Vietnamese

[2021-08-29 06:08] mty22 commented on #241
https://github.com/mty22/krunker.io-translations/issues/48

[2021-08-29 06:08] #241 closed

[2021-08-29 06:08] mty22 commented on #247
https://github.com/mty22/krunker.io-translations/issues/48

[2021-08-29 06:08] #247 closed

[2021-08-29 06:09] mty22 commented on #249
hello --

please use the search feature before opening a new request

https://github.com/mty22/krunker.io-translations/issues?q=Bengali
https://github.com/mty22/krunker.io-translations/issues/38

[2021-08-29 06:09] #249 closed

[2021-08-29 06:09] mty22 commented on #246
https://github.com/mty22/krunker.io-translations/issues?q=Romanian
https://github.com/mty22/krunker.io-translations/issues/50

[2021-08-29 06:09] #246 closed

[2021-08-29 06:10] mty22 commented on #243
Please see: https://github.com/mty22/krunker.io-translations/issues?q=Albania

And: https://github.com/mty22/krunker.io-translations/issues/92

[2021-08-29 06:10] #243 closed

[2021-08-29 06:15] mty22 commented on #92
side note, just added this lang to the WIP folder:

https://github.com/mty22/krunker.io-translations/blob/main/work-in-progress/albanian.txt

https://github.com/mty22/krunker.io-translations/blob/main/work-in-progress/sq.js

[2021-08-29 06:21] BD-T commented on #249
Bro, i saw that i just open a new issue because i need to inform you about the importance of adding Bengali/Bangla language. And the other guys that open Bengali/Bangla language issues they don't mention the importance.

[2021-08-29 07:13] mty22 commented on #219
@nickauthentic is assigned to this now

[2021-08-29 08:20] BlackPanther-95 commented on #38
I'd love to see bangla translation in krunker

[2021-08-29 08:28] Saiyyan545 commented on #38
Hopefully we get bangla translation in krunker.io.

[2021-08-29 08:30] jodiejomensen commented on #219
Hi there need  any help? DM me on discord flipbait#7801

[2021-08-29 10:09] BD-T commented on #38
Yes, it would have been great if the Bengali translation had come to Krunker.

[2021-08-29 10:14] XENONEON3 commented on #38
I want Bengali language

[2021-08-29 10:36] DouknowmE69 commented on #38
We want bangla in krunker

[2021-08-29 11:13] himelty commented on #38
Bangla is the 6th most spoken language in the world. Adding Bangla translation to krunker would make the game more accessible to a lot of people than ever before. Pls consider doing so. ty.

[2021-08-29 11:24] Barryclarkson commented on #38
I'd love to see bangla translation in krunker

[2021-08-29 12:29] KnitroYT commented on #38
I'd love my own native language in this amazing game fr. I have been playing for a year and now bringing this will definitely make the game more diverse and bring more players imo. So yeah Hoping for the best.

[2021-08-29 16:51] P4raffin commented on #38
I want Bengali language :D

[2021-08-30 01:15] mty22 commented on #38
Just for the influx of people commenting. I am aware of the Discord message posted, targeting players from Bangladesh.

I'd like to ask, being totally realistic.. would you use English or Bengali in-game if you were presented with the option?

I'll stall this for a month or so, pending your responses.

[2021-08-30 12:51] DouknowmE69 commented on #38
i want bangla in krunker

[2021-08-30 12:52] DouknowmE69 commented on #38
want bangla in game :))

[2021-08-30 13:17] Barryclarkson commented on #38
Well if you look at this from a common sense perspective everyone in the world knows "basic english" and then there are words which are rather hard for some people to read and thats why i think krunker started the language translation program to begin with and yes Bangla in krunker would be much appreciated

[2021-08-30 13:56] BD-T commented on #38
I agree with you

[2021-08-30 15:28] Drmaks-45 commented on #38
I want bengali language

[2021-08-30 15:37] Drmaks-45 commented on #38
I want bangla language

[2021-08-31 06:09] XENONEON3 commented on #38
ami bangla sara kichu pari na

[2021-08-31 07:36] himelty commented on #38
An average krunker player's age in Bangladesh is just as young as the rest of the community.

But sadly most of our younglings are less fluent in English compared to player's from other countries .

The reason behind is that the English lessons they get at this early age are mostly from academic outlets , outlets which are not robust enough to equip them with a proper grasp on English.

Which lead

[2021-08-31 10:58] himelty commented on #38
Average krunker player's age in Bangladesh is just as young as the rest of the community.

But sadly most of our younglings are less fluent in English compared to player's from other countries .

The reason behind is that the English lessons they get at this early age are mostly from academic outlets , outlets which are not robust enough to equip them with a proper grasp on English.

Which leads t

[2021-09-02 15:37] P4raffin commented on #38
Ami Bangla Chara kisu bujhi na

[2021-09-03 00:11] mty22 commented on #38
![image](https://user-images.githubusercontent.com/2951231/131931363-d7041d79-7226-4a51-a5c3-1d57516ab5f4.png)

Do you (all) believe this linguistic map is a fair representation and matches reality?

[2021-09-03 07:38] himelty commented on #38
yup , seems to be a fair representation.

Google translate only supports 9 major Indian languages though-Tamil, Telugu, Hindi, Punjabi, Gujarati, Malayalam, Kannada, Marathi and Bengali.  So you probably don't need to account for ones outside of these .

And as for Bangla around 270 millions people speak the language in 2021 . On world ranking it's in 6th position making it right above French , Ru

[2021-09-04 14:14] BD-T commented on #38
I don't think that matches in reality, Assam, Meghalaya, Manipur and Tripura they also talk in Bengali but in different but they understand Bangla letters and language and i don't think this map proof anything, krunker needs only Bengali player and we have so, i think you are not supposed to be share that map. It is invalid here. And your question was "would you use English or Bengali in-game if y

[2021-09-04 14:36] Jawad333 commented on #38
I agree with @himelty and we have enough Bangali people in Krunker and they play krunker. So, you should just open the issue and add Bangla language in krunker. I also agree with @BD-T you get your answer now you should just open the issue and work for the Bengali language. And if Bengali language add-in Krunker, krunker will get more players it will be beneficial for krunker. So, i request you to

[2021-09-05 03:03] #219 closed

[2021-09-06 13:43] Luc1dLuka opened #263 "Translating krunker.io to Vietnamese"
So I'm just gonna translate it to Vietnamese

[2021-09-06 14:18] Jawad333 commented on #38
![bengali](https://user-images.githubusercontent.com/87863332/132230831-3a71aa81-686c-4ad3-9e42-5c2997471812.PNG)
And do you agree with that also?

[2021-09-07 05:33] mty22 commented on #38
Thanks for being reasonable with your responses. I appreciate it.

While I understand and accept the desire to have (your) native language added/supported by an application, it may not be feasible to add. You need to keep long term support in the back of your mind.

For example, when I see a influx in comments on threads like this; I consider the probability of the once-off users commenting vs. th

[2021-09-07 14:09] Crazyboi8382 opened #264 "Approval to work on hi.js"
i found some stuff in hi.js that isnt translated to hindi so could i possibly be given approval to work on it?

[2021-09-07 14:14] 0v0katai commented on #264
@Crazyboi8382 Suggest your changes by commenting there with line and corresponding suggestion

[2021-09-13 05:26] emmanuel1233 opened #267 "Greek translation for krunker"
I've seen some Greek players out there so I thought if I could help with the translation.

[2021-09-13 11:44] emmanuel1233 commented on #267
my discord tag is onlyme#3899

[2021-09-15 12:28] #263 closed

[2021-09-15 12:33] mty22 commented on #264
Go for it.

[2021-09-16 11:53] xristosTUBE commented on #267
i would like to work with emmanuel1233 with the greek translation! my discord tag is: Tr1x#5917

[2021-09-20 09:15] mty22 commented on #264
@Crazyboi8382 any updates?

[2021-09-20 09:15] mty22 commented on #267
Will review.

[2021-09-23 06:51] Gerardo2704 commented on #267
Hello I would also like to help with translating, Greek is my second language.

[2021-09-30 23:57] zZzBXXMzZz opened #270 "I would like to translate Krunker to Estonian!"
Hi, I would like to translate the game to Estonian. Im willing to do it alone (also I would prefer to do it alone) since I have a lot of free time on my hands at the moment.

[2021-10-03 12:29] mty22 commented on #264
I consider that @Crazyboi8382 has abandoned this. Anyone is free to take over.

[2021-10-08 06:51] Jawad333 commented on #38
@mty22 Bruh, will u guys open it in next year? -_-

[2021-10-09 11:01] BD-T commented on #38
@mty22 When??????????? we don't want to wait for next year.

[2021-10-10 16:37] #270 closed

[2021-10-15 13:17] MORRIS7290 opened #276 "Swedish language"

[2021-10-17 12:37] mty22 commented on #276
see existing issue: https://github.com/mty22/krunker.io-translations/issues/52

[2021-10-17 12:37] #276 closed

[2021-10-17 12:38] mty22 commented on #267
See https://github.com/mty22/krunker.io-translations/issues/43

[2021-10-17 12:38] #267 closed

[2021-10-17 12:38] #264 closed

[2021-10-17 12:39] mty22 commented on #30
Anyone is good!

[2021-10-17 19:44] Radoslav-Stxrmy opened #277 "Bulgarian translation for Kunker"

[2021-10-20 16:39] SuomiLammas25 commented on #30
If it's still not done I can do it

[2021-10-27 22:12] Eglor01 opened #279 "Hungarian translation"
Hello Krunker team,

I'm a native hungarian speaker and I would be Interested in making a hungarian translation for krunker. I have exprience whit translting a cuple lines of text for the minecraft launcher. If you were to let me translate then please contac me on my disocrd at EglorASD#2122

looking forward to translating Balázs.

[2021-10-30 10:05] pyrtsa-cell commented on #30
What can I do to help on this?

[2021-10-31 02:50] #30 closed

[2021-10-31 03:59] mty22 commented on #81
We'll hold off on Bulgarian for now.

[2021-10-31 04:00] mty22 commented on #277
https://github.com/mty22/krunker.io-translations/issues/81

[2021-10-31 04:00] #277 closed

[2021-10-31 04:01] mty22 commented on #279
Hungarian is currently WIP. Although it won't be added to the game for the short term.

See https://github.com/mty22/krunker.io-translations/blob/main/work-in-progress/hu.js

[2021-10-31 04:01] #279 closed

[2021-10-31 04:01] mty22 commented on #38
Leave it with me for now please.

[2021-10-31 04:08] mty22 commented on #30
@pyrtsa-cell check out the README.md file !

[2021-11-01 13:40] Ratul63 commented on #38
I want Bengali language

[2021-11-27 17:21] amazonal3xa opened #285 "Greek translation of Krunker"
I would like to add a greek translation file for Krunker.io.

[2021-12-07 23:40] mty22 commented on #285
https://github.com/mty22/krunker.io-translations/issues/43

[2021-12-07 23:40] #285 closed

[2021-12-09 14:39] nr-ali opened #286 "Deutsch"

[2021-12-09 14:41] #286 closed

[2021-12-20 14:02] mty22 commented on #72
![image](https://user-images.githubusercontent.com/2951231/146778992-4f7d4ff5-be1c-42fd-be75-7fa2b6d39159.png)

Escalated

[2021-12-22 22:46] Albio2 opened #289 "Canadian French translation"
A french Canadian translation to make it more smooth in that language. This is not super important but the people concerned will probably enjoy it!

[2021-12-22 22:47] Albio2 commented on #289
I'm trying to know if I should simply just start doing it.

[2021-12-22 23:29] mty22 commented on #289
Hi @Albio2,

Canadian French is a dialect of the French language.

As such, we won't be adding it to the game.

Thank you!

[2021-12-22 23:29] #289 closed

[2022-01-02 01:52] rqyz opened #290 "italian translation"
there are some issues with the italian translation of the game, i can work for it if i get the approval

[2022-01-05 10:15] Commensalism1997 commented on #290
You can create a fork, translate, and create a pull requests (if you aren't doing it already

[2022-01-08 17:22] Ekiv23 opened #293 "Arbic"
I would like to translate it to the Arbic Language

[2022-01-26 12:04] Bangladesh9494 commented on #38
@mty22 When bro? D:

[2022-01-26 12:06] Saiyyan545 commented on #38
Almost a year

On Wed, 26 Jan 2022 at 18:04, BANGLADESH ***@***.***> wrote:

[2022-01-30 08:55] Bangladesh9494 commented on #38
Yes brother they told me next year, and now next year is already gone but still, I don't see any work for the Bangla language. They are just delaying.

[2022-01-30 09:28] mty22 commented on #38
I understand you are anxious to get your language in the game, however for now we will stick with just Hindi language.

[2022-01-30 09:28] #38 closed

[2022-01-30 09:29] mty22 commented on #293
duplicate https://github.com/mty22/krunker.io-translations/issues/2

please check readme.md

[2022-01-30 09:29] #293 closed

[2022-01-30 09:30] mty22 commented on #290
What he said. :)

[2022-01-30 09:30] #290 closed

[2022-01-30 09:33] mty22 commented on #72
![image](https://user-images.githubusercontent.com/2951231/151694250-2a225d0e-a327-4bf7-b991-5ee1233ae11c.png)

Only a few more upvotes added since 21/DEC/2021. The Krunker RU Discord server has around 750-800 players in it, so its around 15% wanting it.

Will defer and observe, although for now it's unlikely we will add it to the game.

[2022-01-31 11:56] Hiro527 opened #296 "[v5.4.1/jp.js] Grammar issues"
I found that there are some grammar issues in sentences for challenges.
For example:
[code]
The sentence above will be like "Get 50 headshots in Sandstorm". "50" fills {0} and "in Sandstorm" fills {1}. But in Japanese, it should be like "Sandstormで50回ヘッドショット". "Sandstorm" will be {0} so that "50" will be {1}. There's differences that can't be resolved easily between English and Japanese. We've tal

[2022-01-31 22:49] ItDoBeSarkis opened #300 "Translating Krunker Into Lingala"
Hey, Id be happy to translate krunker into lingala,

I do want to clarify, I am NOT the person translating this, but rather representing a friend who is happy to translate the game,
My friend does want to stay anonymous, which is why I am the one submitting the issue, and will be representing him myself. Think about us as a team,

Discord: Sarkis#6170

[2022-02-01 06:57] ItDoBeSarkis opened #301 "Translating Krunker Into Romanian"
Hey, Id be happy to translate krunker into Romanian,

Just like my last issue, I do want to clarify, I am NOT the person translating this, but rather representing a friend who is happy to translate the game,
My friend does want to stay anonymous, which is why I am the one submitting the issue, claiming creddit, and will be representing him myself. Think about us as a team,

Discord: Sarkis#6170

[2022-02-02 10:39] mty22 commented on #296
This issue is systemic. I'll have a chat with the devs about it when time permits. For now, best to leave it in English.

[2022-02-02 10:41] mty22 commented on #300
Thanks for the interest! For now we will not translate Krunker into Lingala language.

If demand permits, we'll re-review and open this again.

https://en.wikipedia.org/wiki/Lingala

[2022-02-02 10:41] #300 closed

[2022-02-02 10:42] #301 closed

[2022-02-03 21:23] ItDoBeSarkis commented on #301
Alright! Thank you !
I might still prepare a file and have it ready if u ever need it,

On Wed 2 Feb 2022 at 11:42 AM, Matt Taylor ***@***.***> wrote:

[2022-02-05 09:17] Amplifi-Beats opened #320 "Irish Language"
I'm hoping to translate Krunker into Irish/Gaielge

[2022-02-06 02:31] mty22 commented on #320
Thanks for the interest.

English is the predominate language of Ireland, so we will not be implementing Irish/Gaeilge into Krunker.

https://en.wikipedia.org/wiki/Languages_of_Ireland

[2022-02-06 02:31] #320 closed

[2022-02-06 02:34] mty22 commented on #296
added to https://github.com/mty22/krunker.io-translations/blob/main/KNOWN_ISSUES.md

[2022-02-06 14:23] VIPlemons opened #324 "krunker Translate to portuguese"
module.exports =
menu.btn.ranked Rankeada
menu.btn.shop Loja
menu.btn.social Social
menu.btn.maps Mapas
menu.btn.mods Modos
menu.btn.settings Configurações
menu.btn.customize Customizar
menu.btn.invite Convidar
menu.btn.invite.clicked Copiado
menu.btn.join Entrar
menu.btn.host Hospedar Partida
menu.btn.browser Procurar Servidor
generic.wait Aguarde por favor...
generic.loading CARREGANDO...
generi

[2022-02-06 17:01] Scallepo opened #325 "Crotian language"
Hi.Me and my 2 friends want to translate it into croatian. Me and my 2 friends want to translate it into croatian.Finally, what are the chances of it being added to the game?
My Discord:06Scallepo86#1627

[2022-02-07 08:07] VIPlemons opened #328 "Krunker Portuguese"
module.exports =
menu.btn.ranked Rankeada
menu.btn.shop Loja
menu.btn.social Social
menu.btn.maps Mapas
menu.btn.mods Modos
menu.btn.settings Configurações
menu.btn.customize Customizar
menu.btn.invite Convidar
menu.btn.invite.clicked Copiado
menu.btn.join Entrar
menu.btn.host Hospedar Partida
menu.btn.browser Procurar Servidor
generic.wait Aguarde por favor...
generic.loading CARREGANDO...
generi

[2022-02-07 08:20] VIPlemons commented on #328
module.exports =
menu.btn.ranked Rankeada
menu.btn.shop Loja
menu.btn.social Social
menu.btn.maps Mapas
menu.btn.mods Modos
menu.btn.settings Configurações
menu.btn.customize Customizar
menu.btn.invite Convidar
menu.btn.invite.clicked Copiado
menu.btn.join Entrar
menu.btn.host Hospedar Partida
menu.btn.browser Procurar Servidor
generic.wait Aguarde por favor...
generic.loading CARREGANDO...
generi

[2022-02-07 08:20] #328 closed

[2022-02-07 08:27] VIPlemons opened #329 "Krunker Portuguese"
module.exports =
menu.btn.ranked Rankeada
menu.btn.shop Loja
menu.btn.social Social
menu.btn.maps Mapas
menu.btn.mods Modos
menu.btn.settings Configurações
menu.btn.customize Customizar
menu.btn.invite Convidar
menu.btn.invite.clicked Copiado
menu.btn.join Entrar
menu.btn.host Hospedar Partida
menu.btn.browser Procurar Servidor
generic.wait Aguarde por favor...
generic.loading CARREGANDO...
generi

[2022-02-08 13:07] DetectGamer opened #332 "Krunker Finnish language improvements and additions"
I'll update and make the Finnish translation better, and also translate missing words.

[2022-02-08 20:49] ItsPiki commented on #332
I can help you with that too

[2022-02-09 00:32] mty22 commented on #332
go for it, coordinate in Krunker Bunker discord please!

[2022-02-09 00:33] mty22 commented on #329
dupe https://github.com/mty22/krunker.io-translations/issues/324

[2022-02-09 00:33] #329 closed

[2022-02-09 00:33] mty22 commented on #324
this is the wrong place - can you please check the README.md file or work with another translator in Krunker Bunker?

[2022-02-09 00:33] #324 closed

[2022-02-09 00:34] #332 closed

[2022-02-09 06:52] DetectGamer commented on #332
​module​.​exports​ ​=​ ​`
 ​menu.btn.ranked Kilpailullinen
 ​menu.btn.shop Kauppa
 ​menu.btn.social Hubi
 ​menu.btn.maps Pelit
 ​menu.btn.mods Modit
 ​menu.btn.settings Asetukset
 ​menu.btn.customize Mukauta
 ​menu.btn.invite Kutsu
 ​menu.btn.invite.clicked Kopioitu
 ​menu.btn.join Liity
 ​menu.btn.host Luo Peli
 ​menu.btn.browser Palvelimet
 ​generic.wait Odota...
 ​generic.loading LADATAAN...
 ​

[2022-02-09 07:00] DetectGamer commented on #332
Where can i get the newest English version with all the terms that are currently possible to translate?

[2022-02-09 23:05] mty22 opened #337 "Review French language state"
A member of the community sent me a DM providing some examples of potential incorrect translations within `fr.js` file.

[2022-02-09 23:06] mty22 commented on #337
exert:
[code]

[2022-02-09 23:10] mty22 commented on #296
This is confirmed, and won't be changed anytime soon.

the `{1}` variable also may appear as:
`on X` (map)
`with X Weapon` (gun)

[2022-02-09 23:11] #296 closed

[2022-02-13 23:44] Navsy17 opened #347 "Proposing to change Tagalog (tg.js) to Filipino (fil.js)"
Background Info:

Minecraft officially uses 'Filipino' as one of their language options
Google Services recognizes if you use 'Filipino'
The academic subject according to the curriculum is 'Filipino'
Wikipedia has a differentiation of 'Filipino' and 'Tagalog'

It may be hard to understand at first, but majority of 'Filipino' are Tagalog words. If it were pure Tagalog and not Filipino, we wouldn't

[2022-02-13 23:53] mty22 commented on #347
https://github.com/mty22/krunker.io-translations/blob/main/languages.js#L18

likely falls in a bigger thing to change all of them to standardise:

https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

[2022-02-14 01:18] Navsy17 commented on #347
if thats the case, we're fine with the standardized fil

[2022-02-18 12:54] FilaDanner commented on #125
Hello, would you by any chance consider adding Czech any time soon?

[2022-02-18 14:16] SecretMember opened #363 "Issue with Turkish Letters"
![image](https://user-images.githubusercontent.com/42272891/154698981-029f0ec4-903f-4bef-a00c-15ab207df154.png)
It is supposed to look like ''BAĞLANTI KESİLDİ''. Ğ and capital i (İ) are not visible.

[2022-02-23 10:59] mty22 commented on #363
Referenced in https://github.com/mty22/krunker.io-translations/blob/b49314d1a63203aa1f201e031aaced424e67cf2c/KNOWN_ISSUES.md

[2022-02-23 11:00] mty22 commented on #363
@SecretMember feel free to revert those specific letters to English, or revert  the word its self back to English (which ever makes more sense) !

[2022-02-23 11:00] #363 closed

[2022-02-23 11:01] mty22 commented on #325
See https://github.com/mty22/krunker.io-translations/issues/47

[2022-02-23 11:01] #325 closed

[2022-02-24 05:30] Hiro527 opened #372 "Missing translations for Japanese(v5.4.2)"
I'll list up and work for missing translations in jp.js

[2022-02-27 01:29] mty22 commented on #337
Need to form a group/team and review https://github.com/mty22/krunker.io-translations/blob/main/fr.js for consistency.

[2022-02-27 01:30] mty22 commented on #337
Minimum 3 people.

[2022-03-06 08:48] traconixx opened #382 "german translation"
in the german translation are many small problems that i would like to change

[2022-03-06 17:49] DetectGamer opened #383 "Fi.js new terms update"
I'll update the new terms for the Finnish translation
(Kinda already did it, forgot to issue)

[2022-03-06 18:07] #382 closed

[2022-03-06 18:07] traconixx commented on #382
i changed some things

[2022-03-07 22:25] enygmate commented on #337
OK let's do this, I should have some free time ahead tomorrow so I should be able to work on it.

[2022-03-08 06:29] Kason19 commented on #337
I would like to help if i can. Even though I might just be random, i'm a native speaker.

[2022-03-08 07:31] enygmate commented on #337
It'd be great! I saw your PRs and they're all good

[2022-03-13 03:01] EeYoungDad opened #393 "I am a native speaker of Chinese, English and Bahasa Melayu since lots of Malaysian is joining krunker, I am able to speak and write in Malay or Chinese. If I get approval, I can get to work right away."

[2022-03-13 03:02] EeYoungDad opened #394 "I am a native speaker of Chinese, English and Bahasa Melayu since lots of Malaysian is joining krunker, I am able to speak and write in Malay or Chinese. If I get approval, I can get to work right away. Discord tag : EeYoungDad#7348 Krunker IGN : EeYoungDad"

[2022-03-13 03:03] EeYoungDad opened #395 "I can translate Krunker to Bahasa Melayu or Chinese"
I am a native speaker of Chinese, English and Bahasa Melayu since lots of Malaysian is joining krunker, I am able to speak and write in Malay or Chinese. If I get approval, I can get to work right away. Discord tag : EeYoungDad#7348 Krunker IGN : EeYoungDad

[2022-03-13 08:12] mty22 commented on #394
see https://github.com/mty22/krunker.io-translations/issues/76

[2022-03-13 08:12] #394 closed

[2022-03-13 08:13] mty22 commented on #393
see https://github.com/mty22/krunker.io-translations/issues/76

[2022-03-13 08:13] #393 closed

[2022-03-13 08:13] mty22 commented on #395
see https://github.com/mty22/krunker.io-translations/issues/76

[2022-03-13 08:13] #395 closed

[2022-03-14 04:03] EeYoungDad opened #398 "I can translate Chinese and Bahasa Melayu"
I can work anytime with (Discord Tag [ EeYoungDad#7348])

[2022-03-14 23:30] EeYoungDad opened #399 "IDK how to pull a request"
Im am a native speaker of Chinese and Bahasa Melayu
I want to pull a request but IDK how

[2022-03-14 23:31] mty22 commented on #399
https://github.com/mty22/krunker.io-translations/blob/main/README.md

[2022-03-15 00:30] EeYoungDad opened #400 "Why my file upload is disable?"
I can't upload my translation file since it says uploading file is disable

[2022-03-15 00:31] #400 closed

[2022-03-15 13:32] Jaydeninja opened #402 "Krunker Maltese translation"
Hi,
I'm Jayden a 14-year-old student living in **Malta**, I am very good at **Maltese** which is our national official language and no one really knows this language so that's why I am here!

P.S Google translate really doesn't translate Maltese well.

[2022-03-16 14:08] athyze-krunker opened #404 "Hello! I am looking to translate the game!"
Hello!

(About translating swedish)

"Keep in mind that in order to be eligible for KR payouts, the language must be approved first. With that being said, you are still welcome to translate it although it won't be added to the game." - @mty22

Hello, just to clarify. Would it still be okay if I translated the game and didn't receive anything and the translations most likely wont be added to the ga

[2022-03-17 17:51] WHITEwingTTV opened #405 "Krunker Latvian translation"
Hey im WHITEwing or just Matt, ive always wanted krunker to have my national language -Latvia. I am a 14yo student from Latvia, Cēsis and i can translate this language perfectly since i know this language since i was born and living in a family where every way of this language has been used. Latvia is one of three countries in the baltics (part of europe) with a population under 2 million but our

[2022-03-27 23:56] Vanity8685 commented on #29
I can help

[2022-03-29 19:58] Awesome-Boy-001 commented on #398
@EeYoungDad There are two types of Chinese translation version (simplified and traditional). Which one are you able to do?

[2022-03-30 09:06] StarTheFurry opened #415 "Fi.js lines 923-981"
I'd like to translate the lines 923-981 in fi.js

[2022-04-04 07:13] #372 closed

[2022-04-04 10:27] Freddyxia opened #419 "I am a mainland Chinese, I am familiar with English and Chinese, if I get the approval, I can start working immediately. I can do translations in Krunker Market"

[2022-04-04 10:52] Freddyxia commented on #419
Chinese (Simplified）

[2022-04-04 13:57] mty22 commented on #419
@0v0katai can you please speak with @Freddyxia and go over the submission and review process? :) close when read.

[2022-04-04 13:58] mty22 commented on #398
Chinese yes, Bahasa no. See existing README.md

[2022-04-04 13:58] #398 closed

[2022-04-04 13:58] mty22 commented on #415
go for it.

[2022-04-04 13:58] #415 closed

[2022-04-04 13:59] mty22 commented on #405
Hello,

Thanks for the interest. If we see more push for Latvian, then we'll reach out to you!

Cheers.

[2022-04-04 13:59] #405 closed

[2022-04-04 14:00] mty22 commented on #72
Due to current events in Ukraine, it's best if we hold on this for now.

Happy to re-visit once things settle down. Health and safety comes first.

[2022-04-04 14:00] #383 closed

[2022-04-04 14:01] mty22 commented on #402
Thank you for the interest. Will hold off for now unless there's more drive to add Maltese.

[2022-04-04 14:01] mty22 commented on #404
You can translate into Swedish if you wish, however it won't be compensated as it's not a language in scope at this time.

[2022-04-04 14:01] #404 closed

[2022-04-07 08:02] DevChrisChan commented on #419
Hey - can I contribute for Chinese and Chinese Traditional too? Please DM me on ItsChris#0001. Looking forward to help 😄

[2022-04-07 14:50] smolKILA opened #421 "Krunker czech lnaguage"
I found an issue from a year ago and I'm not sure if the situation has changed.
In either case I can help with checking/translating into czech.

[2022-04-16 19:35] erkkiretu opened #423 "Translating krunker to estonian."
Hi! Is there chance that i can translate krunker to estonian?

[2022-04-17 18:49] erkkiretu commented on #423
I would like to add estonian language, because im pretty sure theres Estonian players too (ex. me), so it would be nice that there's estonian language too. If your interested then my dms are open (z1#8937)

[2022-04-25 17:28] Botzky opened #426 "Krunker Italian language"
hi, I would like to participate in this translation / controll project in Italian with free time in case there are free places or if someone needs help (Bosky™#4129)

[2022-04-28 18:57] Kxlici opened #427 "I am from Mainland Chinese and I would be happy to contribute to the translation from English to Chinese, I can start anytime when i get approved"

[2022-04-28 18:58] Kxlici commented on #427
You can find me kxlici#1000 on discord

[2022-04-29 03:23] mty22 commented on #426
Go for it. Check the README.md and join Krunker Bunker Discord.

[2022-04-29 03:23] #426 closed

[2022-05-03 20:17] PROKILLeRNOT1 opened #431 "krunker"
settings.backup Резервные настройки
settings.controls.change Управление
settings.controls.press Нажмите любую клавишу
settings.controls.leaderboard InGame Leaderboard Trigger Type
settings.controls.voicechat Voicechat Trigger Type
settings.local.header Локализация <span id="requiresRestart"><span style="color: #eb5656">*</span> требует перезагрузки</span>
settings.local.region Регион по умолчанию

[2022-05-04 06:08] Le-skal opened #432 "can translate english to french"
hello, I am a french student but I have lived for 14 years in an international country (hong kong) where the main spoken language is English. As a result, shortly after arriving in hong kong, I switched from the french section to the international section where I am currently studying for my IB's. Anyways, I am fully fluent in English and hope my french knowledge can help.

Bonjour, je suis un etu

[2022-05-04 13:22] PraneethGubbala opened #433 "Translate English to Hindi"

[2022-05-04 17:40] FlawlessKai opened #434 "Translating English to Russian"
I am a native Ukrainian speaker, and Russian is very close to the Ukrainian language. I can speak fluent Russian, and have many other people in my life ask me to translate Russian for them. I am currently in America, and can speak fluent English as well. I have a lot of experience with translation. I could be the perfect addition for Russian translation.

[2022-05-07 20:34] Kxlici commented on #434
mty just moved to a new place so he can't approve rn wait for like 2 weeks

[2022-05-08 00:43] FlawlessKai commented on #434
k no problem

[2022-05-10 04:21] BluZed commented on #433
*hi.js*

[2022-05-11 02:12] mty22 commented on #433
go for it

[2022-05-11 02:12] #433 closed

[2022-05-11 02:12] mty22 commented on #434
go for it!

[2022-05-11 02:12] #434 closed

[2022-05-11 02:12] #431 closed

[2022-05-11 02:13] mty22 commented on #432
Reach out to the existing community in Krunker Bunker.

https://github.com/mty22/krunker.io-translations/blob/main/CONTRIBUTORS.md

Feel free to collaborate with them!

[2022-05-11 02:13] #432 closed

[2022-05-11 02:13] mty22 commented on #423
Will pass on this one for now sorry, thanks for the interest though!

[2022-05-11 02:13] #423 closed

[2022-05-11 02:14] mty22 commented on #421
Unfortunately no changes since last year, thank you for the interest though.

[2022-05-11 02:14] #421 closed

[2022-05-11 02:14] mty22 commented on #419
See my above comment too, thanks!

[2022-05-11 02:14] #419 closed

[2022-05-11 02:15] mty22 commented on #72
Closing until we can re-visit in future.

[2022-05-11 02:15] #72 closed

[2022-05-14 04:32] SCycle opened #435 "english to spanish"
Spanish is my primary language, I am very fluent in it. I think I would be a good fit for the Spanish translation.

[2022-05-14 16:24] FlawlessKai commented on #434
Thx :)

[2022-05-15 12:27] X-n1nj4 opened #437 "Translating krunker into romanian."
I'm a fluent Romanian speaker and also I'm very good at English. I'd really love to translate Krunker into Romanian, especially because I have a ton of spare time. Please let me know if you have a spot for me.

[2022-05-15 23:35] johnaccardi commented on #435
Spanish is my first language, and I lived in UK (England) for 5 years and I also lived in New York for 2 years, i think I could translate it with any problem, also I got the time and the experience.

[2022-05-16 12:35] P4YGE opened #438 "Translating Krunker to Filipino"
Hello, my ign in krunker is _PAYGE_, I am an average player with a level of 58 and have a 16d 6h 9m of playtime when I'm creating this application.

I am a Filipino and live in the Philippines, my primary language is called Filipino, not Tagalog because the official name for the Philippine national language is Filipino, not Tagalog. And in fact, "Filipino" means Philippine citizen too. The 2nd mos

[2022-05-16 16:03] MMRewq opened #439 "Krunker to Swedish"
Hello, I would love to translate Krunker to Swedish. I speak Swedish and English and it would be an honor to work with Krunker's translation team.

[2022-05-23 16:08] 5koNajjaci opened #443 "Translating Krunker to Serbian"
I want to translate Krunker to Serbian so players from my country can have more fun and read their language while playing Krunker. Many people from my country don't understand English so I want to help them. I am 26 years old Serbian who likes video games and helping people.

[2022-05-29 06:27] Navsy17 commented on #438
@P4YGE We also proposed on changing 'Tagalog' to 'Filipino' a few months back, it seems that it won't be done any soon, in the mean-time, can I have your Discord Tag and name in Krunker Bunker so we can communicate?

[2022-05-29 06:31] Navsy17 commented on #438
Also please refer to #347 so we can talk there regarding changing 'Tagalog' to 'Filipino'

[2022-05-29 06:31] #438 closed

[2022-05-29 07:22] mty22 commented on #337
Sorted in #390

Thanks everyone!

[2022-05-29 07:22] #337 closed

[2022-05-29 07:22] mty22 commented on #435
Yes. Reach out to the respective Spanish contributors for assistance if required

https://github.com/mty22/krunker.io-translations/blob/main/CONTRIBUTORS.md#spanish-espa%C3%B1ol

[2022-05-29 07:22] #435 closed

[2022-05-29 07:23] mty22 commented on #439
https://github.com/mty22/krunker.io-translations/issues/52

Will not translate into Swedish for now, thanks for the interest though!

[2022-05-29 07:23] #439 closed

[2022-05-29 07:24] mty22 commented on #437
Hello! For now we will hold off on this translation.

https://github.com/mty22/krunker.io-translations/issues/50

[2022-05-29 07:24] #437 closed

[2022-05-29 07:24] mty22 commented on #443
Thanks for the interest! for now we will hold off on Serbian.

https://github.com/mty22/krunker.io-translations/issues/47

[2022-05-29 07:24] #443 closed

[2022-05-29 07:24] mty22 commented on #347
Still on the agenda.

[2022-05-29 08:24] Navsy17 commented on #347
Thanks a lot, will try to contact P4YGE in the meantime.

[2022-06-07 15:07] Kyxul opened #454 "Translating Italian and Norwegian Proposal"
Hey!
I would love to help out and start translating in Italian and Norweigan, whichever is more prioritised i would love to help with. A bit of background is that i was born in Italy but have a mother from Norway who taught me regularly, many thanks!

[2022-06-17 17:01] lightversem opened #456 "Able to translate to German and Swedish"
I fluently communicate and write with both languages and I am interested in helping out on the translation project. I grew up in Sweden but with German as my family's language, therefore i still know German well even though I'm living in another country. I assume that German is prioritized because Swedish is only talked fluently by 11M people.

[2022-06-21 05:32] Lunahax opened #457 "German translation needs an update"
You can find 'unusual translations' in de.js which you wouldn't use in common german. I live in germany since 2006, speak the language fluently and would like to help/update.

[2022-06-25 19:18] asumait11 opened #461 "Arabic translation"
Hello, I'm an Arabic native speaker and also speak English fluently, I almost ended my Arabic translation and it's only me who works on that, anyway, My translation is getting checked by
an Arabic professional that I paid to do that, so it doesn't have to get reviewed by a native, how long will it take to finish everything and add it to the game?
Kind regards,
Abdallah Sumait

[2022-07-02 05:35] mty22 commented on #454
Italian yes, go for it. Norweigan not right now.

[2022-07-02 05:35] #454 closed

[2022-07-02 05:35] mty22 commented on #461
No to arabic, see https://github.com/mty22/krunker.io-translations/issues/2

[2022-07-02 05:35] #461 closed

[2022-07-02 05:35] mty22 commented on #456
German yes, swedish no.

[2022-07-02 05:35] #456 closed

[2022-07-02 05:35] mty22 commented on #457
Go for it!!

[2022-07-02 05:35] #457 closed

[2022-07-08 09:53] 120452 opened #486 "Krunker to Romanian"
Hi. Im a native Romanian dude and I would love to translate Krunker into this language, cuz I know many friends who are playing this game in their freetime and also I just love Krunker...

I speak English fluent and I hope I can be of some use for expanding Krunker into my country as well :D

IGN: Nemex
Discord: Nemex#6752

[2022-07-10 02:52] mty22 commented on #486
Hello thank you for the interest, however for now we won't be adding Romaian to the game.

you are welcome to add it as a WIP Language without compensation.

https://github.com/mty22/krunker.io-translations/issues/50

[2022-07-10 02:52] #486 closed

[2022-08-03 19:10] SMXGGG opened #494 "making a greek krunker translation"

[2022-08-07 15:42] Sultys21 opened #495 "Translating krunker to Lithuanian (Lietuviškai) its my homeland language and i think i have the time to translate everything, I have A's on Lithuanian so it will be perfectly translated"

[2022-08-10 08:00] #494 closed

[2022-08-31 07:12] mty22 commented on #495
Sorry, we will pass on this one.

[2022-08-31 07:12] #495 closed

[2022-08-31 17:39] prljav opened #496 "Translate krunker to Croatian"
Im a native croatian speaker and i would like to translate the game to it because there is a lot of croatian krunker players.
Also croatian is very similar to bosnian and serbian so basically half of the Balkans would benefit from it

EDIT: me and my friend will translate it 100%.

[2022-09-09 18:18] Superattiz commented on #52
maybe i could help with the swedish translation?

[2022-09-18 14:19] mty22 commented on #496
please use the search feature first.

see https://github.com/mty22/krunker.io-translations/issues/47

[2022-09-18 14:19] #496 closed

[2022-09-18 14:19] mty22 commented on #347
I don't think there will be any movement on this one unfortunately.

[2022-09-18 14:19] #347 closed

[2022-10-02 15:15] prljav commented on #47
@MilanSCR treba pomoc?

[2022-10-18 09:05] Niilesh25 opened #499 "I currently speak Bahasa Melayu"
I speak English and Bahasa Melayu and I would love ot help the game as I was playing since 2019 or before the Kanji map was updated. I loved this game and always wanted to help expand it to the whole world.

Much Regards,
Niilesh
<3

[2022-10-25 10:35] WHITEwingTTV opened #500 "New Language - Latvian"
Hey ,im whitewing and would love to help translate krunker into Latvian, i live and Latvia and playing krunker more and more i realised that the baltic countries have started to play more ,Latvia in particular.

[2022-11-04 09:37] DariusDuracell opened #501 "Romanian Krunker"
Hello! I am a native Romanian speaker and I have been playing a lot lately. I have also seen friends of mine starting to play it but they aren't the best at english and had trouble reading some stuff. I decided that if i would try and succeed translating Krunker in romanian, I would help my friends and also other romanian people.

[2022-11-07 02:07] mty22 commented on #501
Please see: https://github.com/mty22/krunker.io-translations/issues/50

[2022-11-07 02:07] #501 closed

[2022-11-07 02:08] mty22 commented on #500
See https://github.com/mty22/krunker.io-translations/issues/405

[2022-11-07 02:08] #500 closed

[2022-11-07 02:09] mty22 commented on #499
Please see https://github.com/mty22/krunker.io-translations/issues/76

[2022-11-07 02:09] #499 closed

[2022-11-08 20:30] imadueno opened #502 "easter event es.js"
The following translations are missing on spanish.

[code]

[2022-11-08 20:50] #502 closed

[2022-11-23 15:05] theoliveboiii opened #504 "Swedish translation for Krunker"
Hello krunker team,

I am opening this issue because I would like to create Swedish translation for krunker. I thought it was a good idea because I see allot of Swedish players while playing the game and I thought it would help some of the Swedes that don't understand english. I have lived in Sweden my whole life and am fluent in the language. Another reason i would like to do it is because right

[2022-11-24 05:42] mty22 commented on #504
Hello @theoliveboiii

According to Wikipedia(https://en.wikipedia.org/wiki/List_of_countries_by_English-speaking_population), 89% of the population in Sweden can speak in English.

Unfortunately it does not make sense to translate the game into Swedish.

[2022-11-24 05:42] #504 closed

[2022-11-24 06:14] theoliveboiii commented on #504
When I was referring to the people who couldn’t speak English I was referring to all the kids that play the game, but thanks for telling me why. I would like to do some other translation to help out with this project, thou I still don’t understand why there is more reason to having a Finish translation more than a Swedish one. I would also like to help out in this project with finish and spanish t

[2022-11-24 06:18] mty22 commented on #504
Finnish language is considered as legacy (maintained).

If for example, Finnish wasn't in the game and a user requested; it would not be added due to the same reasons as above.

[2022-11-24 06:23] theoliveboiii commented on #504
Ok, thank you for clarifying.